.callback {
  position: fixed;
  z-index: 40;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  @include w1200 {
    transition-delay: 0.3s;
  }
  .overlay {
    @include w1200 {
      display: none;
    }
  }
  &__content {
    position: relative;
    width: 641px;
    max-height: 90vh;
    padding: 64px 114px;
    overflow: auto;
    background: #ffffff;
    box-shadow: 0px 4px 24px rgba(59, 59, 59, 0.34);
    border-radius: 8px;
    @include w1200 {
      position: absolute;
      top: auto;
      right: 0 !important;
      bottom: 56px;
      left: 0 !important;
      width: auto;
      max-height: calc(100vh - 56px);
      padding: 96px 28% 64px;
      border-radius: 8px 8px 0px 0px;
      transition: transform 0.3s !important;
      transform: translateY(100%) !important;
      box-shadow: none;
    }
    @include w767 {
      padding: 72px 16px 24px;
    }
  }
  &__close {
    position: absolute;
    top: 28px;
    right: 28px;
    cursor: pointer;
    @include w1200 {
      top: 17px;
      left: 40px !important;
      right: auto !important;
      z-index: 3;
    }
    @include w1023 {
      left: 16px !important;
    }
    &:hover,
    &:focus {
      animation: pulse 0.4s;
    }
  }
  &__title {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: normal;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    @include w1200 {
      font-size: 20px;
      line-height: 24px;
    }
  }
  &__text {
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
    @include w1200 {
      margin-bottom: 24px;
      font-size: 12px;
      line-height: 16px;
    }
  }
  &__input {
    margin-bottom: 24px;
    @include w1200 {
      margin-bottom: 16px;
    }
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include w1200 {
      flex-direction: column-reverse;
    }
  }
  &__subtext {
    margin: 0;
    max-width: 200px;
    font-size: 12px;
    line-height: 16px;
    @include w1200 {
      max-width: none;
    }
  }
  &__btn {
    padding: 15px 25px;
    cursor: pointer;
    @include w1200 {
      width: 100%;
      margin-bottom: 8px;
      text-align: center;
    }
    @include w1023 {
      padding: 11px 25px;
    }
  }
}
