.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 41px 0 40px;
  background-color: $neutral-color-10;
  &__title {
    margin-top: 0;
    margin-bottom: 7px;
    font-weight: normal;
    font-size: 31px;
    line-height: 40px;
    color: $neutral-color-2;
  }
  &__text {
    margin-top: 0;
    margin-bottom: 24px;
    line-height: 24px;
    color: $neutral-color-2;
  }
  &__row {
    display: flex;
    align-items: flex-start;
  }
  &__select {
    position: relative;
  }
  &-select {
    &__current {
      width: 298px;
    }
    &__show {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 0 23px;
      border: none;
      background: none;
      cursor: pointer;
      &:after {
        content: '';
        width: 10px;
        height: 10px;
        border-left: 2px solid #222;
        border-bottom: 2px solid #222;
        transform: translateY(-2px) rotate(-45deg);
        transition: 0.2s;
      }
      &.active {
        &:after {
          transform: translateY(3px) rotate(-45deg) scale(-1, -1);
        }
      }
    }
    &__block {
      position: absolute;
      top: calc(100% + 2px);
      left: 0;
      display: none;
      width: 100%;
      background: #ffffff;
      border: 1px solid #e1e1e1;
      box-shadow: 0px 2px 12px #e9eaec;
      border-radius: 8px;
      overflow: hidden;
      &.active {
        display: block;
      }
    }
    &__item {
      padding: 8px 15px;
      line-height: 24px;
      cursor: pointer;
      &:hover,
      &:focus {
        background: $neutral-color-10;
      }
    }
  }
  &__col {
    margin-left: 16px;
  }
  &__btn {
    padding: 14px 24px;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
  }
  &__subtext {
    max-width: 230px;
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 16px;
  }
}
