#menu-burger {
  display: none;
  &:checked {
    & ~ .overlay--menu {
      display: block;
    }
    & ~ .popup--left {
      transform: translateX(0);
    }
  }
}

#callback {
  display: none;
  &:checked {
    & ~ .callback {
      opacity: 1;
      visibility: visible;
      transition: visibility 0s linear, opacity 0.2s linear;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 8, 20, 0.26);
  &--menu {
    z-index: 30;
  }
  &--open {
    z-index: -10;
    display: block;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  &--callback {
    position: absolute;
    z-index: -1;
    display: block;
  }
}

.header {
  position: sticky;
  z-index: 20;
  top: 0;
  &__row {
    position: relative;
    background-color: #fff;
    &:not(:first-child) {
      border-top: 1px solid #e1e1e1;
    }
    &:last-child {
      box-shadow: 0px 1px 24px rgba(59, 59, 59, 0.12);
    }
    &:nth-child(1) {
      z-index: 2;
      padding: 4px 0;
      .header__container {
        position: relative;
      }
    }
    &:nth-child(2) {
      transition: transform 0.3s;
    }
    &--hidden {
      transform: translateY(-56px);
      .header-menu__open,
      .overlay.overlay--open {
        display: none !important;
      }
    }
  }
  &__wrap {
    background-color: #fff;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__burger {
    position: absolute;
    left: -40px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
  }
  &__info {
    display: flex;
    align-items: center;
  }
  &__phone {
    display: inline-block;
    margin-bottom: 11px;
    font-weight: 500;
    font-size: 20px;
  }
  &__status {
    display: flex;
    align-items: center;
    font-size: 10px;
    &:before {
      content: '';
      width: 8px;
      height: 8px;
      flex-shrink: 0;
      margin-right: 8px;
      border-radius: 50%;
    }
    &--closed {
      &:before {
        background: $system-error-color;
      }
    }
    &--opened {
      &:before {
        background: $system-success-color;
      }
    }
  }
  &__btn {
    margin-left: 39px;
    padding: 9px 15px;
    cursor: pointer;
  }
  &-menu {
    &__list {
      display: flex;
      padding: 0;
      list-style: none;
    }
    &__item {
      padding: 19px 0;
      &:hover {
        .overlay,
        .header-menu__open {
          opacity: 1;
          visibility: visible;
          pointer-events: initial;
          transition: visibility 0s linear, opacity 0.2s linear;
        }
        .overlay {
          pointer-events: none;
        }
      }
      &:not(:last-child) {
        margin-right: 56px;
      }
    }
    &__link {
      &--actions {
        color: $primary-color;
      }
    }
    &__open {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 40px 0;
      background: #ffffff;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
    &-open {
      &__container {
        display: grid;
        grid-template-columns: 312px 312px 1fr;
        grid-gap: 24px;
      }
      &__col {
        border-top: 1px solid $neutral-color-9;
        transform: translateY(-8px);
        &:last-child {
          transform: none;
          width: 480px;
          margin-left: auto;
          border-top: none;
          picture {
            display: inline-block;
            width: 100%;
            height: 320px;
            border-radius: 8px;
            overflow: hidden;
          }
          &:hover,
          &:focus {
            img {
              transform: scale(1.13);
            }
            .arrow-after {
              &:after {
                transform: translateX(12px);
              }
            }
          }
          &:focus {
            .arrow-after {
              color: $secondary-shade-color;
            }
          }
        }
      }
      &__title {
        margin-bottom: 16px;
        padding-top: 24px;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
      }
      &__list {
        padding: 0;
        list-style: none;
      }
      &__item {
        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }
      &__link {
        line-height: 24px;
      }

      &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.7s;
      }
      &__arr {
        display: flex;
        align-items: center;
        margin-top: 16px;
        line-height: 24px;
        color: $text-color;
      }
    }
  }
  &-icons {
    display: flex;
    align-items: center;
    padding: 0;
    list-style: none;
    &__item {
      &:not(:last-child) {
        margin-right: 32px;
      }
    }
    &__link {
      position: relative;
      display: flex;
      cursor: pointer;
      &[data-count]:before {
        content: attr(data-count);
        position: absolute;
        top: -6px;
        right: -6px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 16px;
        height: 16px;
        padding: 2px;
        border-radius: 50%;
        background-color: $secondary-color;
        font-size: 10px;
        color: #ffffff;
      }
    }
    &__search {
      position: relative;
      display: none;
    }
    &-search {
      &__icon {
        position: absolute;
        top: 8px;
        left: 12px;
      }
      &__input {
        width: 320px;
        height: 40px;
        padding: 0 48px;
        background: $neutral-color-10;
        border: 1px solid $neutral-color-9;
        border-radius: 8px;
      }
      &__btn {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 12px;
        background: none;
        border: none;
        cursor: pointer;
      }
    }
  }
}
