.popup {
  position: fixed;
  z-index: 40;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 748px;
  background-color: #fff;
  transition: transform 0.3s, visibility 0s 0.3s;
  visibility: hidden;
  @include w1200 {
    top: auto;
    right: 0 !important;
    bottom: -56px;
    left: 0 !important;
    width: auto;
    max-height: 100vh;
    padding-bottom: 108px;
    border-radius: 8px 8px 0px 0px;
    transform: translateY(100%) !important;
    background-color: #fff;
  }
  @include w767 {
    top: 0;
    border-radius: 0;
    min-height: 100vh;
  }
  &--left {
    left: 0;
    transform: translateX(-100%);
    .popup__container {
      margin-left: auto;
    }
    .popup__close {
      left: 236px;
    }
  }
  &--right {
    right: 0;
    transform: translateX(100%);
    .popup__container {
      margin-right: auto;
    }
    .popup__close {
      right: 236px;
    }
    .popup__content {
      transform: scaleX(-1);
      @include w1200 {
        transform: none;
      }
    }
  }
  &--menu {
    .popup__top {
      margin-bottom: 24px;
      padding-bottom: 24px;
      border-bottom: 1px solid $neutral-color-8;
    }
    .popup-top__title {
      font-weight: 500;
      @include w767 {
        font-size: 20px;
      }
      @include w360 {
        font-size: 16px;
      }
    }
    .popup-top__nav {
      padding-left: 0;
    }
    .popup__bot {
      @include w1200 {
        display: none;
      }
    }
  }
  &--search {
    top: 0;
    @media screen and (min-width: 1201px) {
      display: none;
    }
  }
  &--filter {
    @include w1200 {
      min-height: auto;
      z-index: 60;
      bottom: 0;
      padding-bottom: 0;
      overflow: hidden;
    }
  }
  &__content {
    position: relative;
    flex: 1;
    padding: 64px 40px 24px;
    overflow-y: scroll;
    @include w1200 {
      padding-top: 80px;
      padding-bottom: 104px;
    }
    @include w1023 {
      padding-left: 16px;
      padding-right: 16px;
    }
    @include w767 {
      padding-top: 72px;
      padding-bottom: 40px;
    }
  }
  &__inverse {
    transform: scaleX(-1);
    @include w1200 {
      transform: none;
    }
  }
  &__scroll {
    @include w1200 {
      position: relative;
      height: 100%;
      overflow-y: auto;
      -ms-scroll-chaining: none;
      overscroll-behavior: contain;
      -webkit-overflow-scrolling: touch;
    }
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    @include w1200 {
      min-height: calc(100vh + 1px);
      min-height: calc((var(--vh, 1vh) * 100) + 1px);
      padding-bottom: 73px;
    }
  }
  &__bot {
    padding: 26px 40px;
    border-top: 1px solid $neutral-color-8;
    @include w1200 {
      position: fixed;
      bottom: 0;
      width: 100%;
      background-color: #fff;
    }
    @include w767 {
      padding: 16px;
    }
  }
  &__container {
    max-width: 408px;
    @include w1200 {
      max-width: none;
    }
  }
  &__close {
    position: fixed;
    z-index: 3;
    top: 28px;
    cursor: pointer;
    @include w1200 {
      top: 17px;
      left: 40px !important;
      right: auto !important;
    }
    @include w1023 {
      left: 16px !important;
    }
    &:hover,
    &:focus {
      animation: pulse 0.4s;
    }
  }
  &__head {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding: 16px 0 15px 88px;
    border-bottom: 1px solid $neutral-color-8;
    background-color: #fff;
    border-radius: 8px 8px 0px 0px;
    @include w1200 {
      display: block;
    }
    @include w1023 {
      padding-left: 72px;
    }
    @include w360 {
      font-size: 16px;
    }
  }
  &__search {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding: 8px 40px 7px 88px;
    border-bottom: 1px solid $neutral-color-8;
    background-color: #fff;
    border-radius: 8px 8px 0px 0px;
    @include w1023 {
      padding: 8px 16px 7px 72px;
    }
    .header-icons-search__input {
      width: 100%;
      font-size: 16px;
    }
  }
  &-search {
    &__form {
      position: relative;
    }
    &__list {
      padding-left: 0;
      list-style: none;
      .header-icons-search-item__btn {
        transform: translateX(-7px);
        @include w1023 {
          transform: translateX(-11px);
        }
      }
    }
  }
  &__title {
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 25px;
    line-height: 32px;
    @include w1200 {
      display: none;
    }
  }
  &__top {
    &:not(:last-child) {
      margin-bottom: 32px;
      padding-bottom: 32px;
      border-bottom: 1px solid $neutral-color-8;
      @include w1200 {
        margin-bottom: 24px;
        padding-bottom: 24px;
      }
      @include w767 {
        margin-bottom: 16px;
        padding-bottom: 16px;
      }
    }
  }
  &-top {
    > input {
      display: none;
      &:checked {
        & ~ .popup-top__title {
          &:after {
            transform: translateY(3px) rotate(-45deg) scale(-1, -1);
          }
        }
        & ~ .popup-top__nav {
          display: block;
        }
      }
    }
    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 20px;
      line-height: 24px;
      cursor: pointer;
      @include w767 {
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
      }
      &:after {
        content: '';
        width: 10px;
        height: 10px;
        border-left: 2px solid #222;
        border-bottom: 2px solid #222;
        transform: translateY(-2px) rotate(-45deg);
        transition: 0.2s;
      }
    }
    &__nav {
      display: none;
    }
    &__list {
      padding-left: 0;
      padding-top: 24px;
      list-style: none;
    }
    &__item {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
    &__link {
      font-weight: 500;
      line-height: 24px;
      &--actions {
        color: $primary-color !important;
      }
    }
    &__price {
      padding-top: 42px;
      @include w767 {
        padding-top: 24px;
      }
    }
    &-price {
      &__slider {
        height: 1px;
        margin-bottom: 18px;
        padding-right: 16px;
        border: none;
        box-shadow: none;
        background: $neutral-color-7;
        .noUi-connect {
          background: $neutral-color-7;
        }
        .noUi-handle {
          top: -10px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          box-shadow: none;
          border-color: $neutral-color-7;
          &:hover,
          &:focus {
            border-color: $tertiary-color;
            &:after {
              display: block;
            }
          }
          &:before,
          &:after {
            display: none;
          }
          &:after {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: $tertiary-color;
          }
        }
        &.noUi-state-drag {
          .noUi-connect {
            background: $tertiary-color;
          }
          .noUi-handle {
            border-color: $tertiary-color;
            &:after {
              display: block;
            }
          }
          & + .popup-top-price__row {
            input {
              color: $text-color;
            }
          }
        }
      }
      &__row {
        display: flex;
        justify-content: space-between;
      }
      &__col {
        display: flex;
        align-items: center;
        span {
          font-size: 12px;
          line-height: 16px;
          color: $neutral-color-5;
        }
        input {
          width: 52px;
          height: 24px;
          margin-left: 8px;
          background: #f7f7f7;
          border-radius: 4px;
          border: none;
          font-size: 12px;
          line-height: 16px;
          text-align: center;
          color: $neutral-color-5;
          &:focus {
            color: $text-color;
          }
        }
      }
    }
    &__category {
      padding-top: 32px;
      padding-left: 16px;
      list-style: none;
      @include w767 {
        padding-top: 16px;
        padding-left: 0;
      }
    }
    &-category {
      &__item {
        &:not(:last-child) {
          margin-bottom: 32px;
          @include w767 {
            margin-bottom: 16px;
          }
        }
        > input {
          display: none;
          &:checked {
            & ~ .popup-top-category__title {
              &:after {
                transform: translateY(3px) rotate(-45deg) scale(-1, -1);
              }
            }
            & ~ .popup-top-category__list {
              display: block;
            }
          }
        }
      }
      &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 24px;
        cursor: pointer;
        &:after {
          content: '';
          width: 10px;
          height: 10px;
          border-left: 2px solid #222;
          border-bottom: 2px solid #222;
          transform: translateY(-2px) rotate(-45deg);
          transition: 0.2s;
        }
      }
      &__list {
        display: none;
        padding-top: 24px;
        padding-left: 0;
        list-style: none;
        @include w767 {
          padding-top: 12px;
        }
      }
      &__subitem {
        position: relative;
        &:not(:last-child) {
          margin-bottom: 24px;
          @include w767 {
            margin-bottom: 12px;
          }
        }
        &:before {
          content: attr(data-price);
          position: absolute;
          z-index: -1;
          right: 16px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 16px;
          color: $neutral-color-5;
          @include w767 {
            font-size: 12px;
          }
        }
        input {
          display: none;
          &:checked + label {
            border-color: $tertiary-tint-color;
          }
        }
        label {
          display: block;
          padding: 15px;
          border: 1px solid $neutral-color-9;
          border-radius: 8px;
          cursor: pointer;
          transition: box-shadow 0.2s;
          @include w767 {
            font-size: 12px;
            line-height: 16px;
          }
          &:hover,
          &:focus {
            box-shadow: 0px 2px 12px #e9eaec;
          }
        }
      }
    }
    &__content {
      padding-top: 16px;
      .good-content-tab__name,
      .good-content-tab__value {
        flex: 0 0 50%;
        @include w767 {
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
  }
  &-nav {
    &__list {
      padding: 0;
      list-style: none;
    }
    &__item {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
    &__link {
      line-height: 24px;
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
  }
  &__btn {
    flex: 0 0 calc(50% - 12px);
    padding: 9px 0;
    cursor: pointer;
    @include w767 {
      flex: 1;
    }
    &:first-child {
      @include w767 {
        flex: 0;
        padding: 9px 16px;
        margin-right: 16px;
      }
    }
  }

  &__subtitle {
    margin-bottom: 16px;
    font-size: 20px;
    @include w767 {
      font-size: 16px;
    }
  }
  &__text {
    margin-bottom: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid $neutral-color-9;
    @include w767 {
      margin-bottom: 16px;
      padding-bottom: 16px;
      font-size: 12px;
      line-height: 16px;
    }
    p {
      margin: 0;
    }
    p + p {
      margin-top: 16px;
      @include w767 {
        margin-top: 8px;
      }
    }
  }
  &__subtext {
    margin-bottom: 24px;
    font-size: 12px;
    line-height: 16px;
    p {
      margin: 0;
    }
    p + p {
      margin-top: 16px;
    }
  }
}
