.advantages {
  margin-bottom: 120px;
  padding: 65px 0 66px;
  background-color: $neutral-color-10;
  @include w1200 {
    margin-bottom: 100px;
    padding: 52px 0;
  }
  @include w1023 {
    margin-bottom: 80px;
    padding: 40px 0;
  }
  @include w767 {
    margin-bottom: 104px;
    padding: 25px 0 24px;
  }
  &__title {
    margin-top: 0;
    margin-bottom: 63px;
    font-weight: normal;
    font-size: 39px;
    line-height: 48px;
    @include w1200 {
      margin-bottom: 52px;
      font-size: 35px;
      line-height: 44px;
    }
    @include w1023 {
      margin-bottom: 40px;
      font-size: 31px;
      line-height: 40px;
    }
    @include w767 {
      margin-bottom: 31px;
      font-size: 25px;
      line-height: 32px;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
    padding: 0;
    list-style: none;
    @include w1023 {
      grid-gap: 16px;
    }
    @include w767 {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &__item {
    &:not(:last-child) {
      @include w767 {
        margin-bottom: 16px;
      }
    }
  }
  &-item {
    &__icon {
      margin-bottom: 10px;
      @include w1023 {
        width: 48px;
        height: 48px;
        margin-bottom: 6px;
      }
    }
    &__title {
      margin-top: 0;
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      @include w1200 {
        font-size: 18px;
        line-height: 26px;
      }
      @include w1023 {
        font-size: 14px;
        line-height: 20px;
      }
      @include w767 {
        max-width: 250px;
        margin-bottom: 8px;
        font-size: 16px;
        line-height: 24px;
      }
    }
    &__text {
      margin: 0;
      line-height: 24px;
      color: $neutral-color-6;
      @include w1200 {
        font-size: 14px;
        line-height: 20px;
      }
      @include w1023 {
        font-size: 12px;
        line-height: 17px;
      }
      @include w767 {
        line-height: 16px;
        max-width: 260px;
      }
    }
  }
}
