.articles {
  .articles__list {
    @include w767 {
      display: flex;
      grid-gap: 0;
      width: calc(100% + 32px);
      padding-left: 16px;
      transform: translateX(-16px);
      overflow-x: scroll;
    }
    &:after {
      @include w767 {
        content: '';
        flex: 0 0 16px;
      }
    }
  }
  .articles__item {
    @include w767 {
      flex: 0 0 242px;
    }
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    @include w1023 {
      margin-bottom: 32px;
    }
    @include w767 {
      display: block;
    }
  }
  &__title {
    margin: 0;
    @include w767 {
      max-width: 250px;
      margin-bottom: 15px;
    }
  }
  &__link {
    margin-top: 16px;
    font-size: 20px;
    line-height: 32px;
    @include w1023 {
      margin-top: 1px;
      margin-right: 3px;
      font-size: 16px;
      line-height: 24px;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 64px 24px;
    padding: 0;
    list-style: none;
    @include w1023 {
      grid-gap: 24px 16px;
    }
    @include w767 {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &-item {
    &__link {
      display: block;
      &:hover,
      &:focus {
        img {
          transform: scale(1.13);
        }
      }
    }
    &__img {
      position: relative;
      width: 100%;
      height: 280px;
      margin-bottom: 13px;
      border-radius: 8px;
      overflow: hidden;
      @include w1200 {
        height: 214px;
      }
      @include w1023 {
        height: 148px;
        margin-bottom: 8px;
      }
      @include w767 {
        height: 160px;
      }
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.5);
        mix-blend-mode: color;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.7s;
      }
    }
    &__title {
      margin-top: 0;
      margin-bottom: 3px;
      font-weight: normal;
      font-size: 25px;
      line-height: 32px;
      @include w1200 {
        font-size: 22px;
        line-height: 28px;
      }
      @include w1023 {
        margin-bottom: -1px;
        font-size: 20px;
        line-height: 24px;
      }
      @include w767 {
        font-size: 16px;
      }
    }
    &__date {
      color: $neutral-color-5;
      @include w1200 {
        margin-bottom: -1px;
        font-size: 20px;
        line-height: 24px;
      }
      @include w1023 {
        margin-bottom: 0;
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}
