.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 840px;
  padding-bottom: 64px;
  color: #ffffff;
  margin-bottom: 120px;
  @include w1200 {
    margin-bottom: 100px;
  }
  @include w1023 {
    margin-bottom: 80px;
    padding-bottom: 40px;
  }
  @include w767 {
    height: 520px;
    margin-bottom: 64px;
    padding-bottom: 16px;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(9, 14, 42, 0.54) 50.44%, rgba(9, 14, 42, 0) 100%);
  }
  &__img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__container {
    position: relative;
    width: 100%;
  }
  &__title {
    max-width: 990px;
    margin-top: 0;
    margin-bottom: 29px;
    @include w1023 {
      max-width: 630px;
      margin-bottom: 15px;
    }
  }
  &__text {
    margin-top: 0;
    margin-bottom: 44px;
    font-size: 20px;
    @include w1023 {
      margin-bottom: 32px;
    }
    @include w767 {
      max-width: 230px;
      margin-bottom: 24px;
      font-size: 16px;
    }
  }
  &__btns {
    display: flex;
    @include w767 {
      display: block;
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    margin-right: 25px;
    padding: 10px 24px;
    background: none;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    transition: 0.1s;
    @include w1023 {
      padding: 6px 15px;
    }
    @include w767 {
      width: 100%;
      justify-content: center;
      border: 2px solid transparent;
    }
    &:not(:last-child) {
      @include w767 {
        margin-bottom: 12px;
      }
    }
    &--background {
      background-color: #fff;
      color: #222222;
      &:hover,
      &:focus {
        background-color: $primary-background-color;
      }
    }
    &--border {
      border: 2px solid #fff;
      color: #fff;
      &:hover,
      &:focus {
        background-color: #fff;
        color: $text-color;
      }
    }
  }
}
