.cards {
  margin-bottom: 120px;
  &__actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 184px;
    grid-gap: 24px;
    padding: 0;
    list-style: none;
  }
  &-actions {
    &__link {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      padding-left: 32px;
      border-radius: 8px;
      overflow: hidden;
      transition: 0.3s;
      &:hover,
      &:focus {
        box-shadow: 0px 6px 20px #e9ebec;
      }
    }
    &__img {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &__title {
      max-width: 200px;
      margin-top: 0;
      margin-bottom: 0;
      font-weight: 500;
      font-size: 25px;
      line-height: 32px;
    }
    &__text {
      margin-top: 12px;
      line-height: 24px;
      margin-bottom: 0;
    }
  }
  &__categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 280px;
    grid-gap: 24px;
    padding: 0;
    list-style: none;
  }
  &-categories {
    &__link {
      display: block;
      &:hover,
      &:focus {
        img {
          transform: scale(1.13);
        }
        .arrow-after {
          &:after {
            transform: translateX(12px);
          }
        }
      }
      &:focus {
        .arrow-after {
          color: $secondary-shade-color;
        }
      }
    }
    picture {
      display: block;
      width: 100%;
      height: 232px;
      border-radius: 8px;
      overflow: hidden;
    }
    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.7s;
    }
    &__title {
      margin-top: 16px;
      margin-bottom: 0;
      font-weight: normal;
      font-size: 20px;
      line-height: 32px;
      color: $text-color;
    }
  }
}
