include popup-callback.pug 

include popup-basket.pug

footer.footer 
  .footer__row
    .container.footer__container
      input.footer__input(type="checkbox" id="footer-title")
      label.footer__top.hover-link(for="footer-title") Каталог
      ul.footer__col
        li.footer__item
          a.footer__link.hover-link(href="#") Матрасы
        li.footer__item
          a.footer__link.hover-link(href="#") Наматрасники
        li.footer__item
          a.footer__link.hover-link(href="#") Подушки
        li.footer__item
          a.footer__link.hover-link(href="#") Кроватные основания
      ul.footer__col
        li.footer__item
          a.footer__link.hover-link(href="#") Топперы
        li.footer__item
          a.footer__link.hover-link(href="#") Детские матрасы
        li.footer__item
          a.footer__link.hover-link(href="#") Детские наматрасники
        li.footer__item
          a.footer__link.hover-link(href="#") Матрасы для животных
      ul.footer__col
        li.footer__item
          a.footer__link.hover-link(href="#") О компании
        li.footer__item
          a.footer__link.hover-link(href="#") Покупателям
        li.footer__item
          a.footer__link.hover-link(href="#") Доставка и оплата
        li.footer__item
          a.footer__link.hover-link(href="#") Партнёрам
      ul.footer__col
        li.footer__item
          a.footer__link.hover-link(href="#") Блог
        li.footer__item
          a.footer__link.hover-link(href="#") Отзывы
        li.footer__item
          a.footer__link.hover-link(href="#") Гарантия
        li.footer__item
          a.footer__link.hover-link(href="#") Контакты
      .footer__col
        .footer__info
          a.footer__tel.hover-link(href="tel:84992880170") +7 499 288-01-70
          a.footer__social(href="#") 
            <svg width="7" height="14" viewBox="0 0 7 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.75073 13.0557V6.5271H6.55292L6.79175 4.2773H4.75073L4.75379 3.15125C4.75379 2.56447 4.80954 2.25006 5.65233 2.25006H6.77899V0H4.97654C2.81152 0 2.04949 1.0914 2.04949 2.92678V4.27756H0.699951V6.52736H2.04949V13.0557H4.75073Z" fill="#5468D4"/>
            </svg>
          a.footer__social(href="#") 
            <svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.12783 7.93785C7.12783 7.93785 7.35884 7.91265 7.47716 7.7879C7.58547 7.6736 7.58171 7.4579 7.58171 7.4579C7.58171 7.4579 7.56732 6.45069 8.04374 6.30197C8.51327 6.15572 9.11616 7.276 9.75598 7.70678C10.2393 8.03248 10.6062 7.9612 10.6062 7.9612L12.3159 7.93785C12.3159 7.93785 13.2099 7.88377 12.7861 7.19365C12.751 7.13712 12.5388 6.68298 11.5152 5.75013C10.4428 4.77365 10.5867 4.93158 11.8777 3.24224C12.664 2.21353 12.9783 1.58548 12.88 1.31693C12.7867 1.06006 12.2082 1.12827 12.2082 1.12827L10.2837 1.13995C10.2837 1.13995 10.141 1.1209 10.0352 1.18296C9.9319 1.2438 9.86491 1.38576 9.86491 1.38576C9.86491 1.38576 9.56065 2.18157 9.15435 2.85878C8.29729 4.28694 7.95484 4.36253 7.8146 4.27403C7.48843 4.06694 7.56982 3.44319 7.56982 3.00012C7.56982 1.61559 7.78393 1.03855 7.1535 0.88922C6.9444 0.839443 6.79039 0.806873 6.25512 0.801342C5.56834 0.794582 4.98737 0.8038 4.65807 0.961734C4.43895 1.06682 4.26992 1.30157 4.37322 1.31509C4.5003 1.33168 4.78829 1.39129 4.94104 1.59531C5.13825 1.85894 5.13136 2.45012 5.13136 2.45012C5.13136 2.45012 5.24468 4.07984 4.86654 4.28202C4.60736 4.42091 4.25176 4.13761 3.48736 2.84157C3.09608 2.17788 2.80058 1.44414 2.80058 1.44414C2.80058 1.44414 2.74361 1.3071 2.64157 1.23335C2.51823 1.14425 2.34607 1.11659 2.34607 1.11659L0.517383 1.12827C0.517383 1.12827 0.242548 1.13565 0.141754 1.25302C0.0522289 1.35687 0.134867 1.57257 0.134867 1.57257C0.134867 1.57257 1.56664 4.86091 3.18811 6.51829C4.67497 8.0374 6.3628 7.93785 6.3628 7.93785H7.12783Z" fill="#5468D4"/>
            </svg>
        p.footer__link с 10:00 до 23:00 ежедневно
  .footer__row
    .container.footer__container
      p.footer__copy ООО «Торбеевские матрасы» © 2021 | Все права защищены
      a.footer__copy.hover-link(href="#")  Политика конфиденциальности
      p.footer__copy Разработка сайта a-project
