section.form 
  h2.form__title Остались вопросы — мы поможем
  p.form__text Оставьте свои контакты, и мы свяжемся с вами, чтобы всё объяснить
  form.form__row(action="#")
    .form__select.form-select.select
      .form-select__current.input-block
        input(type="tel" id="form-input" placeholder=" " data-type="tel" data-required)
        label(for="form-input") Телефон
        button.form-select__show.select-open
      ul.form-select__block.select-block
        li
          button.form-select__item.form-select__item--current.select-item(data-select="tel") Телефон
        li
          button.form-select__item.select-item(data-select="email") E-mail
    .form__col
      button.form__btn.btn-background(type="submit") Проконсультироваться
      p.form__subtext Нажимая на кнопку, вы соглашаетесь на 
        a.popup-link(href="#") обработку персональных данных
