input(type="checkbox" id="menu-burger")
input(type="checkbox" id="callback")
input(type="checkbox" id="filter")
input(type="checkbox" id="offers")
input(type="checkbox" id="content")

label.overlay.overlay--menu(for="menu-burger") 
label.overlay.overlay--filter(for="filter") 
label.overlay.overlay--offers(for="offers") 
label.overlay.overlay--content(for="content") 

include popup-menu.pug
include popup-content.pug

header.header
  .header__row
    .container.header__container
      label.header__burger(for="menu-burger") 
        svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M7 5C7 6.10457 6.10457 7 5 7C3.89543 7 3 6.10457 3 5C3 3.89543 3.89543 3 5 3C6.10457 3 7 3.89543 7 5ZM7 12C7 13.1046 6.10457 14 5 14C3.89543 14 3 13.1046 3 12C3 10.8954 3.89543 10 5 10C6.10457 10 7 10.8954 7 12ZM5 21C6.10457 21 7 20.1046 7 19C7 17.8954 6.10457 17 5 17C3.89543 17 3 17.8954 3 19C3 20.1046 3.89543 21 5 21ZM14 5C14 6.10457 13.1046 7 12 7C10.8954 7 10 6.10457 10 5C10 3.89543 10.8954 3 12 3C13.1046 3 14 3.89543 14 5ZM12 14C13.1046 14 14 13.1046 14 12C14 10.8954 13.1046 10 12 10C10.8954 10 10 10.8954 10 12C10 13.1046 10.8954 14 12 14ZM14 19C14 20.1046 13.1046 21 12 21C10.8954 21 10 20.1046 10 19C10 17.8954 10.8954 17 12 17C13.1046 17 14 17.8954 14 19ZM19 7C20.1046 7 21 6.10457 21 5C21 3.89543 20.1046 3 19 3C17.8954 3 17 3.89543 17 5C17 6.10457 17.8954 7 19 7ZM21 12C21 13.1046 20.1046 14 19 14C17.8954 14 17 13.1046 17 12C17 10.8954 17.8954 10 19 10C20.1046 10 21 10.8954 21 12ZM19 21C20.1046 21 21 20.1046 21 19C21 17.8954 20.1046 17 19 17C17.8954 17 17 17.8954 17 19C17 20.1046 17.8954 21 19 21Z" fill="#A94A24")
      a.header__logo
        img(src="images/logo.svg" alt="Логотип")
      .header__info
        .header__time
          a.header__phone(href="tel:84992880170") +7 499 288 01 70
          .header__status.header__status--closed Закрыто. откроемся в 10.00
        label.header__btn.btn-border(for="callback" tabindex="0")  Заказать звонок

  .header__row
    .header__wrap
      .container.header__container
        nav.header__menu.header-menu 
          ul.header-menu__list 
            li.header-menu__item 
              a.header-menu__link.header-menu__link--actions(href="#")  Акции
            li.header-menu__item 
              a.header-menu__link(href="#") Матрасы
              .overlay.overlay--open
              .header-menu__open.header-menu-open
                .container.header-menu-open__container 
                  .header-menu-open__col
                    .header-menu-open__title Матрасы
                    ul.header-menu-open__list 
                      li.header-menu-open__item 
                        a.header-menu-open__link(href="#") Односпальные
                      li.header-menu-open__item 
                        a.header-menu-open__link(href="#") Двуспальные
                      li.header-menu-open__item 
                        a.header-menu-open__link(href="#") Детские
                      li.header-menu-open__item 
                        a.header-menu-open__link(href="#") Матрасы для животных
                      li.header-menu-open__item 
                        a.header-menu-open__link(href="#") Топперы
                  .header-menu-open__col
                    .header-menu-open__title По жёсткости
                    ul.header-menu-open__list 
                      li.header-menu-open__item 
                        a.header-menu-open__link(href="#") Мягкие
                      li.header-menu-open__item 
                        a.header-menu-open__link(href="#") Средние
                      li.header-menu-open__item 
                        a.header-menu-open__link(href="#") Жёсткие
                      li.header-menu-open__item 
                        a.header-menu-open__link(href="#") Разносторонние
                  a.header-menu-open__col(href="#") 
                    picture 
                      source(type="image/webp" srcset="images/header1.jpg")
                      img.header-menu-open__img(src="images/header1.jpg" alt="Матрасы")
                    .header-menu-open__arr.arrow-after Ко всем матрасам
            li.header-menu__item 
              a.header-menu__link(href="#") Наматрасники
              .overlay.overlay--open
              .header-menu__open.header-menu-open
                .container.header-menu-open__container 
                  .header-menu-open__col
                    .header-menu-open__title Наматрасники
                    ul.header-menu-open__list 
                      li.header-menu-open__item 
                        a.header-menu-open__link(href="#") Односпальные
                      li.header-menu-open__item 
                        a.header-menu-open__link(href="#") Двуспальные
                      li.header-menu-open__item 
                        a.header-menu-open__link(href="#") Детские
                  .header-menu-open__col
                    .header-menu-open__title По типу
                    ul.header-menu-open__list 
                      li.header-menu-open__item 
                        a.header-menu-open__link(href="#") Гигиенические
                      li.header-menu-open__item 
                        a.header-menu-open__link(href="#") Для комфорта
                  a.header-menu-open__col(href="#") 
                    picture 
                      source(type="image/webp" srcset="images/header2.jpg")
                      img.header-menu-open__img(src="images/header2.jpg" alt="Наматрасники")
                    .header-menu-open__arr.arrow-after Ко всем наматрасникам
            li.header-menu__item 
              a.header-menu__link(href="#") Подушки
              .overlay.overlay--open
              .header-menu__open.header-menu-open
                .container.header-menu-open__container 
                  .header-menu-open__col
                    .header-menu-open__title Подушки
                    ul.header-menu-open__list 
                      li.header-menu-open__item 
                        a.header-menu-open__link(href="#") Взрослые
                      li.header-menu-open__item 
                        a.header-menu-open__link(href="#") Детские
                  .header-menu-open__col
                    .header-menu-open__title По материалу
                    ul.header-menu-open__list 
                      li.header-menu-open__item 
                        a.header-menu-open__link(href="#") Вязко-эластичные
                      li.header-menu-open__item 
                        a.header-menu-open__link(href="#") Watergel
                      li.header-menu-open__item 
                        a.header-menu-open__link(href="#") Memory Foam
                  a.header-menu-open__col(href="#") 
                    picture 
                      source(type="image/webp" srcset="images/header3.jpg")
                      img.header-menu-open__img(src="images/header3.jpg" alt="Подушки")
                    .header-menu-open__arr.arrow-after Ко всем подушкам
            li.header-menu__item 
              a.header-menu__link(href="#") Кроватные основания
              .overlay.overlay--open
              .header-menu__open.header-menu-open
                .container.header-menu-open__container 
                  .header-menu-open__col
                    .header-menu-open__title Кроватные основания
                    ul.header-menu-open__list 
                      li.header-menu-open__item 
                        a.header-menu-open__link(href="#") Односпальные
                      li.header-menu-open__item 
                        a.header-menu-open__link(href="#") Двуспальные
                      li.header-menu-open__item 
                        a.header-menu-open__link(href="#") Детские
                  .header-menu-open__col
                    .header-menu-open__title По типу
                    ul.header-menu-open__list 
                      li.header-menu-open__item 
                        a.header-menu-open__link(href="#") С узкими ламелями
                      li.header-menu-open__item 
                        a.header-menu-open__link(href="#") С широкими ламелями
                  a.header-menu-open__col(href="#") 
                    picture 
                      source(type="image/webp" srcset="images/header4.jpg")
                      img.header-menu-open__img(src="images/header4.jpg" alt="Кроватные основания")
                    .header-menu-open__arr.arrow-after Ко всем кроватным основаниям
        ul.header__icons.header-icons
          li.header-icons__item 
            .header-icons__link.header-icons__link--search
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.5944 6.8076C13.168 4.38119 9.23401 4.38119 6.8076 6.8076C4.38119 9.23401 4.38119 13.168 6.8076 15.5944C9.23401 18.0208 13.168 18.0208 15.5944 15.5944C18.0208 13.168 18.0208 9.23401 15.5944 6.8076ZM5.39338 5.39338C8.60084 2.18593 13.8012 2.18593 17.0086 5.39338C19.9767 8.36148 20.1982 13.0361 17.6731 16.2589L21.799 20.3848C22.1895 20.7753 22.1895 21.4085 21.799 21.799C21.4084 22.1895 20.7753 22.1895 20.3848 21.799L16.2589 17.6731C13.0361 20.1982 8.36148 19.9767 5.39338 17.0086C2.18593 13.8012 2.18593 8.60084 5.39338 5.39338Z" fill="#A94A24"/>
              </svg>
              form.header-icons__search.header-icons-search(action="#") 
                label.header-icons-search__icon(for="search") 
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.5944 6.8076C13.168 4.38119 9.23401 4.38119 6.8076 6.8076C4.38119 9.23401 4.38119 13.168 6.8076 15.5944C9.23401 18.0208 13.168 18.0208 15.5944 15.5944C18.0208 13.168 18.0208 9.23401 15.5944 6.8076ZM5.39338 5.39338C8.60084 2.18593 13.8012 2.18593 17.0086 5.39338C19.9767 8.36148 20.1982 13.0361 17.6731 16.2589L21.799 20.3848C22.1895 20.7753 22.1895 21.4085 21.799 21.799C21.4084 22.1895 20.7753 22.1895 20.3848 21.799L16.2589 17.6731C13.0361 20.1982 8.36148 19.9767 5.39338 17.0086C2.18593 13.8012 2.18593 8.60084 5.39338 5.39338Z" fill="#B1B1B1"/>
                  </svg>
                input.header-icons-search__input(type="text" id="search" placeholder="Поиск")
                button.header-icons-search__btn(type="submit")
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.0828 4.25853L17.7397 9.87585C18.0868 10.2206 18.0868 10.7794 17.7397 11.1241L12.0828 16.7415C11.7357 17.0862 11.1728 17.0862 10.8257 16.7415C10.4786 16.3968 10.4786 15.8379 10.8257 15.4932L14.9651 11.3827H2.88889C2.39797 11.3827 2 10.9875 2 10.5C2 10.0125 2.39797 9.61732 2.88889 9.61732H14.9651L10.8257 5.50682C10.4786 5.16212 10.4786 4.60324 10.8257 4.25853C11.1728 3.91382 11.7357 3.91382 12.0828 4.25853Z" fill="#B1B1B1"/>
                  </svg>

          li.header-icons__item 
            a.header-icons__link(href="#" data-count="13") 
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3284 2.4941C15.0906 2.16819 15.9088 2 16.7359 2C17.563 2 18.3811 2.16819 19.1434 2.4941C19.9055 2.81992 20.5958 3.29656 21.1758 3.89523C21.756 4.49371 22.2147 5.20261 22.5272 5.98065C22.8396 6.75864 23 7.59148 23 8.43187C23 9.27225 22.8396 10.1051 22.5272 10.8831C22.2148 11.6611 21.7561 12.3699 21.1759 12.9683C21.1759 12.9684 21.176 12.9683 21.1759 12.9683L12.7179 21.6959C12.5295 21.8903 12.2704 22 11.9997 22C11.7291 22 11.47 21.8903 11.2816 21.6959L2.82357 12.9683C1.65254 11.76 1 10.1276 1 8.43187C1 6.73612 1.65254 5.10375 2.82357 3.8954C3.99563 2.68599 5.59209 2.00053 7.26361 2.00053C8.93512 2.00053 10.5316 2.68599 11.7036 3.8954L11.9997 4.20093L12.2957 3.89557C12.2957 3.89551 12.2956 3.89562 12.2957 3.89557C12.8757 3.29682 13.5662 2.81995 14.3284 2.4941ZM19.7395 5.28709C19.3422 4.87692 18.8722 4.55328 18.3571 4.33307C17.8422 4.11289 17.2914 4 16.7359 4C16.1804 4 15.6296 4.11289 15.1146 4.33307C14.5996 4.55328 14.1295 4.87692 13.7322 5.28709L12.7179 6.33378C12.5295 6.52814 12.2704 6.63785 11.9997 6.63785C11.7291 6.63785 11.47 6.52814 11.2816 6.33378L10.2674 5.28726C9.46526 4.45953 8.38409 4.00053 7.26361 4.00053C6.14313 4.00053 5.06196 4.45953 4.25978 5.28726C3.45658 6.11606 3 7.24666 3 8.43187C3 9.61708 3.45658 10.7477 4.25978 11.5765L11.9997 19.5631L19.7397 11.5765C20.1373 11.1664 20.4544 10.6777 20.6712 10.1378C20.888 9.59786 21 9.01809 21 8.43187C21 7.84565 20.888 7.26587 20.6712 6.72592C20.4544 6.18601 20.1371 5.69713 19.7395 5.28709Z" fill="#A94A24"/>
              </svg>
          li.header-icons__item 
            a.header-icons__link(href="#" data-count="2") 
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.292893 0.292893C0.683417 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L2.19297 0.778755C2.69116 1.27694 2.99811 1.93458 3.06004 2.63639L3.18036 4H22C22.2911 4 22.5678 4.12686 22.7577 4.34744C22.9477 4.56803 23.0321 4.86045 22.9889 5.14834L21.7444 13.445C21.5242 14.9136 20.2626 16 18.7776 16H4.23918L4.33517 17.0879C4.38072 17.6041 4.81308 18 5.3313 18H18C19.6569 18 21 19.3431 21 21C21 22.6569 19.6569 24 18 24C16.3431 24 15 22.6569 15 21C15 20.6494 15.0602 20.3128 15.1707 20H7.82929C7.93985 20.3128 8 20.6494 8 21C8 22.6569 6.65685 24 5 24C3.34315 24 2 22.6569 2 21C2 20.1392 2.36251 19.3632 2.94318 18.8161C2.61057 18.3793 2.39439 17.8471 2.34291 17.2637L1.06778 2.81218C1.04714 2.57824 0.944817 2.35903 0.778755 2.19297L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683417 0.292893 0.292893ZM18 20C17.4477 20 17 20.4477 17 21C17 21.5523 17.4477 22 18 22C18.5523 22 19 21.5523 19 21C19 20.4477 18.5523 20 18 20ZM4.06271 14H18.7776C19.2726 14 19.6931 13.6379 19.7666 13.1483L20.8388 6H3.35683L4.06271 14ZM5 20C4.44772 20 4 20.4477 4 21C4 21.5523 4.44772 22 5 22C5.55228 22 6 21.5523 6 21C6 20.4477 5.55228 20 5 20Z" fill="#A94A24"/>
                </g>
                <defs>
                <clipPath id="clip0">
                <rect width="24" height="24" fill="white"/>
                </clipPath>
                </defs>
              </svg>
