.addtobasket(style="display: none")
  .overlay.overlay--callback
  .addtobasket__content 
    button.addtobasket__close(tabindex="0") 
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z" fill="#A94A24"/>
      </svg>
    h3.addtobasket__title Товар добавлен в корзину
    .addtobasket__item.addtobasket-item
      .addtobasket-item__img(data-count="2")
        picture
          source(type="image/webp" srcset="images/good1.jpg")
          img(src="images/good1.jpg" alt="Матрас Царь")
      .addtobasket-item__info 
        .addtobasket-item__title Кроватное основание с широкими ламелями (врезными)
        .addtobasket-item__desc Двуспальное 160 × 200 cm
    .addtobasket__bot 
      .addtobasket__row 
        span.addtobasket__pricetext Стоимость
        span.addtobasket__price 86 400 руб.
      .addtobasket__row 
        button.addtobasket__btn.btn-border Вернуться назад
        button.addtobasket__btn.btn-background Перейти в корзину
