form.popup.popup--right.popup--offers
  label.popup__close(for="offers" tabindex="0") 
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071Z" fill="#A94A24"/>
    </svg>
  .popup__head Размер матраса
  .popup__content
    .popup__inverse
      .popup__container
        .popup__title Размер матраса
        .popup-top-category__subitem(data-price="- 1 000")
          input(type="radio" id="offer1" name="offer") 
          label(for="offer1" tabindex="0") 140 × 200 см
        .popup-top-category__subitem
          input(type="radio" id="offer2" name="offer" checked) 
          label(for="offer2" tabindex="0") 160 × 200 см
        .popup-top-category__subitem(data-price="+ 2 000")
          input(type="radio" id="offer3" name="offer") 
          label(for="offer3" tabindex="0") 180 × 200 см
        .popup-top-category__subitem(data-price="+ 4 000")
          input(type="radio" id="offer4" name="offer") 
          label(for="offer4" tabindex="0") 200 × 200 см
        .popup-top-category__subitem(data-price="+ 6 000")
          input(type="radio" id="offer5" name="offer") 
          label(for="offer5" tabindex="0") 200 × 220 см
