@import '~normalize.css';
@import 'variables/mixins';
@import 'variables/colors';
@import 'variables/indents';
@import 'variables/fonts';

@include hover {
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-button {
    display: none;
  }
  ::-webkit-scrollbar-thumb {
    background: $primary-tint-color;
    border-radius: 2px;
  }
  ::-webkit-scrollbar-track {
    background: #fff;
  }
}

body {
  font-family: 'Golos', sans-serif;
  color: $text-color;
  font-size: 16px;
  line-height: 24px;
  transition: opacity 0.2s;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.container {
  max-width: 1368px;
  margin: 0 auto;
  padding: $padding-container;
  @include w767 {
    padding: $mobile-padding-container;
  }
}

.margin-section {
  margin-bottom: $margin-section;
  @include w1023 {
    // margin-bottom: $tablet-margin-section;
  }
  @include w767 {
    // margin-bottom: $mobile-margin-section;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

ul,
ol {
  margin: 0;
}

a {
  color: unset;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.btn-border {
  border: 2px solid $primary-color;
  border-radius: 8px;
  background: none;
  color: $primary-color;
  transition: 0.1s;
  &:hover {
    color: #fff;
    background: $primary-color;
  }
  &:focus {
    color: #fff;
    background: $primary-shade-color;
    border-color: $primary-shade-color;
  }
}

.btn-background {
  border: none;
  border-radius: 8px;
  background: $primary-color;
  color: #fff;
  transition: background 0.1s;
  &:hover {
    background: $primary-tint-color;
  }
  &:focus {
    background: $primary-shade-color;
  }
}

.h1title {
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: normal;
  font-size: 61px;
  line-height: 72px;
}

.h2title {
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
}

.popup-link {
  color: $secondary-color;
  transition: color 0.1s;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  &:focus {
    text-decoration: underline;
    color: $secondary-shade-color;
  }
}

.arrow-after {
  display: flex;
  align-items: center;
  color: $secondary-color;
  transition: color 0.1s;
  &:after {
    content: '';
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    margin-left: 12px;
    transition: transform 0.3s;
    background: url('../images/arrow-right.svg') center/contain no-repeat;
  }
  &:hover {
    &:after {
      transform: translateX(12px);
    }
  }
  &:focus {
    color: $secondary-shade-color;
    &:after {
      transform: translateX(12px);
    }
  }
}

.input-block {
  position: relative;
  &.input-err {
    label {
      color: $system-error-color;
    }
    input {
      border-color: $system-error-color;
    }
  }
  label {
    position: absolute;
    top: 11px;
    left: 15px;
    transition: 0.2s;
    color: $neutral-color-7;
  }
  input {
    width: 100%;
    height: 48px;
    padding: 15px 15px 0;
    background-color: #ffffff;
    border: 1px solid $neutral-color-9;
    box-sizing: border-box;
    border-radius: 8px;
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0px 1000px #fff inset;
      transition: background-color 5000s ease-in-out 0s;
    }
    &:not(:placeholder-shown) + label,
    &:focus + label {
      top: 4px;
      left: 16px;
      font-size: 10px;
      line-height: 16px;
    }
    &.input-err {
      border-color: $system-error-color;
      & + label {
        color: $system-error-color;
      }
    }
    &.input-border {
      border-color: $neutral-color-9;
      & + label {
        color: $neutral-color-7;
      }
    }
  }
}

.glightbox-open {
  overflow: visible;
}

.hover-link {
  transition: color 0.1s;
  &:hover {
    text-decoration: underline;
    color: $neutral-color-4;
  }
  &:focus {
    text-decoration: underline;
    color: $text-color;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@import 'blocks/common/popup';
@import 'blocks/common/callback';
@import 'blocks/common/header';
@import 'blocks/common/breadcrumbs';
@import 'blocks/common/footer';
@import 'blocks/common/goods-slider';
@import 'blocks/common/form';
@import 'blocks/common/addtobasket';
@import 'blocks/mainpage/banner';
@import 'blocks/mainpage/cards';
@import 'blocks/mainpage/advantages';
@import 'blocks/mainpage/promo';
@import 'blocks/mainpage/reviews';
@import 'blocks/mainpage/articles';
@import 'blocks/otherpages/catalog';
@import 'blocks/otherpages/good';
@import 'blocks/otherpages/about';
@import 'blocks/otherpages/achievements';
@import 'blocks/otherpages/fav';
@import 'blocks/otherpages/basket';
@import 'blocks/otherpages/contacts';
