mixin goods-slider(title)
  section.goods-slider.margin-section
    .container 
      h2.h2title.goods-slider__title= title
    .goods-slider__wrap
      .container 
        .goods-slider__container.swiper-container
          ul.goods-slider__wrapper.swiper-wrapper 
            li.goods-slider__slide.goods-slider-slide.swiper-slide
              a.goods-slider__link(href="#")
                .goods-slider-slide__img
                  picture
                    source(type="image/webp" srcset="images/good1.jpg")
                    img(src="images/good1.jpg" alt="Матрас Царь")
                  ul.goods-slider-slide__tags
                    li.goods-slider-slide__tag.goods-slider-slide__tag--best Бестселлер
              button.goods-slider-slide__fav.goods-slider-slide__fav--active
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.9855 4.59133L10.2945 5.26101L10.9855 4.59133C9.99837 3.5727 8.65953 3.00053 7.26361 3.00053C5.86769 3.00053 4.52885 3.5727 3.54168 4.59133C2.5546 5.60986 2 6.99133 2 8.43187C2 9.87241 2.5546 11.2539 3.54167 12.2724L11.2816 20.259C11.47 20.4534 11.7291 20.5631 11.9997 20.5631C12.2704 20.5631 12.5295 20.4534 12.7179 20.259L20.4576 12.2726C20.4577 12.2725 20.4578 12.2725 20.4578 12.2724C20.9466 11.7682 21.3346 11.1694 21.5992 10.5105C21.8638 9.85148 22 9.14517 22 8.43187C22 7.71857 21.8638 7.01225 21.5992 6.35328C21.3345 5.69421 20.9463 5.09518 20.4575 4.59099C19.9689 4.08665 19.3887 3.68657 18.7503 3.41358C18.1116 3.14054 17.4272 3 16.7359 3C16.0446 3 15.3601 3.14054 14.7215 3.41358C14.0829 3.6866 13.5028 4.08674 13.0141 4.59116C13.0141 4.59122 13.014 4.59127 13.0139 4.59133L11.9997 5.63785L10.9855 4.59133Z" stroke="#A94A24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              .goods-slider-slide__info
                .goods-slider-slide__row
                  span.goods-slider-slide__price.goods-slider-slide__price--newprice 21 600 руб.
                  span.goods-slider-slide__oldprice 25 000 руб.
                a.goods-slider-slide__name.hover-link(href="#") Матрас Царь
                button.goods-slider-slide__cart 
            li.goods-slider__slide.goods-slider-slide.swiper-slide
              a.goods-slider__link(href="#")
                .goods-slider-slide__img
                  picture
                    source(type="image/webp" srcset="images/good2.jpg")
                    img(src="images/good2.jpg" alt="Матрас Царь")
                  ul.goods-slider-slide__tags
                    li.goods-slider-slide__tag.goods-slider-slide__tag--best Бестселлер
              button.goods-slider-slide__fav.goods-slider-slide__fav--active
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.9855 4.59133L10.2945 5.26101L10.9855 4.59133C9.99837 3.5727 8.65953 3.00053 7.26361 3.00053C5.86769 3.00053 4.52885 3.5727 3.54168 4.59133C2.5546 5.60986 2 6.99133 2 8.43187C2 9.87241 2.5546 11.2539 3.54167 12.2724L11.2816 20.259C11.47 20.4534 11.7291 20.5631 11.9997 20.5631C12.2704 20.5631 12.5295 20.4534 12.7179 20.259L20.4576 12.2726C20.4577 12.2725 20.4578 12.2725 20.4578 12.2724C20.9466 11.7682 21.3346 11.1694 21.5992 10.5105C21.8638 9.85148 22 9.14517 22 8.43187C22 7.71857 21.8638 7.01225 21.5992 6.35328C21.3345 5.69421 20.9463 5.09518 20.4575 4.59099C19.9689 4.08665 19.3887 3.68657 18.7503 3.41358C18.1116 3.14054 17.4272 3 16.7359 3C16.0446 3 15.3601 3.14054 14.7215 3.41358C14.0829 3.6866 13.5028 4.08674 13.0141 4.59116C13.0141 4.59122 13.014 4.59127 13.0139 4.59133L11.9997 5.63785L10.9855 4.59133Z" stroke="#A94A24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              .goods-slider-slide__info
                .goods-slider-slide__row
                  span.goods-slider-slide__price.goods-slider-slide__price--newprice 21 600 руб.
                  span.goods-slider-slide__oldprice 25 000 руб.
                a.goods-slider-slide__name.hover-link(href="#") Матрас Царь
                button.goods-slider-slide__cart 
            li.goods-slider__slide.goods-slider-slide.swiper-slide
              a.goods-slider__link(href="#")
                .goods-slider-slide__img
                  picture
                    source(type="image/webp" srcset="images/good3.jpg")
                    img(src="images/good3.jpg" alt="Матрас Царь")
                  ul.goods-slider-slide__tags
                    li.goods-slider-slide__tag.goods-slider-slide__tag--best Бестселлер
              button.goods-slider-slide__fav.goods-slider-slide__fav--active
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.9855 4.59133L10.2945 5.26101L10.9855 4.59133C9.99837 3.5727 8.65953 3.00053 7.26361 3.00053C5.86769 3.00053 4.52885 3.5727 3.54168 4.59133C2.5546 5.60986 2 6.99133 2 8.43187C2 9.87241 2.5546 11.2539 3.54167 12.2724L11.2816 20.259C11.47 20.4534 11.7291 20.5631 11.9997 20.5631C12.2704 20.5631 12.5295 20.4534 12.7179 20.259L20.4576 12.2726C20.4577 12.2725 20.4578 12.2725 20.4578 12.2724C20.9466 11.7682 21.3346 11.1694 21.5992 10.5105C21.8638 9.85148 22 9.14517 22 8.43187C22 7.71857 21.8638 7.01225 21.5992 6.35328C21.3345 5.69421 20.9463 5.09518 20.4575 4.59099C19.9689 4.08665 19.3887 3.68657 18.7503 3.41358C18.1116 3.14054 17.4272 3 16.7359 3C16.0446 3 15.3601 3.14054 14.7215 3.41358C14.0829 3.6866 13.5028 4.08674 13.0141 4.59116C13.0141 4.59122 13.014 4.59127 13.0139 4.59133L11.9997 5.63785L10.9855 4.59133Z" stroke="#A94A24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              .goods-slider-slide__info
                .goods-slider-slide__row
                  span.goods-slider-slide__price.goods-slider-slide__price--newprice 21 600 руб.
                  span.goods-slider-slide__oldprice 25 000 руб.
                a.goods-slider-slide__name.hover-link(href="#") Матрас Царь
                button.goods-slider-slide__cart 
            li.goods-slider__slide.goods-slider-slide.swiper-slide
              a.goods-slider__link(href="#")
                .goods-slider-slide__img
                  picture
                    source(type="image/webp" srcset="images/good1.jpg")
                    img(src="images/good1.jpg" alt="Матрас Царь")
                  ul.goods-slider-slide__tags
                    li.goods-slider-slide__tag.goods-slider-slide__tag--best Бестселлер
              button.goods-slider-slide__fav.goods-slider-slide__fav--active
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.9855 4.59133L10.2945 5.26101L10.9855 4.59133C9.99837 3.5727 8.65953 3.00053 7.26361 3.00053C5.86769 3.00053 4.52885 3.5727 3.54168 4.59133C2.5546 5.60986 2 6.99133 2 8.43187C2 9.87241 2.5546 11.2539 3.54167 12.2724L11.2816 20.259C11.47 20.4534 11.7291 20.5631 11.9997 20.5631C12.2704 20.5631 12.5295 20.4534 12.7179 20.259L20.4576 12.2726C20.4577 12.2725 20.4578 12.2725 20.4578 12.2724C20.9466 11.7682 21.3346 11.1694 21.5992 10.5105C21.8638 9.85148 22 9.14517 22 8.43187C22 7.71857 21.8638 7.01225 21.5992 6.35328C21.3345 5.69421 20.9463 5.09518 20.4575 4.59099C19.9689 4.08665 19.3887 3.68657 18.7503 3.41358C18.1116 3.14054 17.4272 3 16.7359 3C16.0446 3 15.3601 3.14054 14.7215 3.41358C14.0829 3.6866 13.5028 4.08674 13.0141 4.59116C13.0141 4.59122 13.014 4.59127 13.0139 4.59133L11.9997 5.63785L10.9855 4.59133Z" stroke="#A94A24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              .goods-slider-slide__info
                .goods-slider-slide__row
                  span.goods-slider-slide__price.goods-slider-slide__price--newprice 21 600 руб.
                  span.goods-slider-slide__oldprice 25 000 руб.
                a.goods-slider-slide__name.hover-link(href="#") Матрас Царь
                button.goods-slider-slide__cart 
            li.goods-slider__slide.goods-slider-slide.swiper-slide
              a.goods-slider__link(href="#")
                .goods-slider-slide__img
                  picture
                    source(type="image/webp" srcset="images/good2.jpg")
                    img(src="images/good2.jpg" alt="Матрас Царь")
                  ul.goods-slider-slide__tags
                    li.goods-slider-slide__tag.goods-slider-slide__tag--best Бестселлер
              button.goods-slider-slide__fav.goods-slider-slide__fav--active
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.9855 4.59133L10.2945 5.26101L10.9855 4.59133C9.99837 3.5727 8.65953 3.00053 7.26361 3.00053C5.86769 3.00053 4.52885 3.5727 3.54168 4.59133C2.5546 5.60986 2 6.99133 2 8.43187C2 9.87241 2.5546 11.2539 3.54167 12.2724L11.2816 20.259C11.47 20.4534 11.7291 20.5631 11.9997 20.5631C12.2704 20.5631 12.5295 20.4534 12.7179 20.259L20.4576 12.2726C20.4577 12.2725 20.4578 12.2725 20.4578 12.2724C20.9466 11.7682 21.3346 11.1694 21.5992 10.5105C21.8638 9.85148 22 9.14517 22 8.43187C22 7.71857 21.8638 7.01225 21.5992 6.35328C21.3345 5.69421 20.9463 5.09518 20.4575 4.59099C19.9689 4.08665 19.3887 3.68657 18.7503 3.41358C18.1116 3.14054 17.4272 3 16.7359 3C16.0446 3 15.3601 3.14054 14.7215 3.41358C14.0829 3.6866 13.5028 4.08674 13.0141 4.59116C13.0141 4.59122 13.014 4.59127 13.0139 4.59133L11.9997 5.63785L10.9855 4.59133Z" stroke="#A94A24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              .goods-slider-slide__info
                .goods-slider-slide__row
                  span.goods-slider-slide__price.goods-slider-slide__price--newprice 21 600 руб.
                  span.goods-slider-slide__oldprice 25 000 руб.
                a.goods-slider-slide__name.hover-link(href="#") Матрас Царь
                button.goods-slider-slide__cart 
            li.goods-slider__slide.goods-slider-slide.swiper-slide
              a.goods-slider__link(href="#")
                .goods-slider-slide__img
                  picture
                    source(type="image/webp" srcset="images/good2.jpg")
                    img(src="images/good2.jpg" alt="Матрас Царь")
                  ul.goods-slider-slide__tags
                    li.goods-slider-slide__tag.goods-slider-slide__tag--best Бестселлер
              button.goods-slider-slide__fav.goods-slider-slide__fav--active
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.9855 4.59133L10.2945 5.26101L10.9855 4.59133C9.99837 3.5727 8.65953 3.00053 7.26361 3.00053C5.86769 3.00053 4.52885 3.5727 3.54168 4.59133C2.5546 5.60986 2 6.99133 2 8.43187C2 9.87241 2.5546 11.2539 3.54167 12.2724L11.2816 20.259C11.47 20.4534 11.7291 20.5631 11.9997 20.5631C12.2704 20.5631 12.5295 20.4534 12.7179 20.259L20.4576 12.2726C20.4577 12.2725 20.4578 12.2725 20.4578 12.2724C20.9466 11.7682 21.3346 11.1694 21.5992 10.5105C21.8638 9.85148 22 9.14517 22 8.43187C22 7.71857 21.8638 7.01225 21.5992 6.35328C21.3345 5.69421 20.9463 5.09518 20.4575 4.59099C19.9689 4.08665 19.3887 3.68657 18.7503 3.41358C18.1116 3.14054 17.4272 3 16.7359 3C16.0446 3 15.3601 3.14054 14.7215 3.41358C14.0829 3.6866 13.5028 4.08674 13.0141 4.59116C13.0141 4.59122 13.014 4.59127 13.0139 4.59133L11.9997 5.63785L10.9855 4.59133Z" stroke="#A94A24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              .goods-slider-slide__info
                .goods-slider-slide__row
                  span.goods-slider-slide__price.goods-slider-slide__price--newprice 21 600 руб.
                  span.goods-slider-slide__oldprice 25 000 руб.
                a.goods-slider-slide__name.hover-link(href="#") Матрас Царь
                button.goods-slider-slide__cart 
            li.goods-slider__slide.goods-slider-slide.swiper-slide
              a.goods-slider__link(href="#")
                .goods-slider-slide__img
                  picture
                    source(type="image/webp" srcset="images/good2.jpg")
                    img(src="images/good2.jpg" alt="Матрас Царь")
                  ul.goods-slider-slide__tags
                    li.goods-slider-slide__tag.goods-slider-slide__tag--best Бестселлер
              button.goods-slider-slide__fav.goods-slider-slide__fav--active
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.9855 4.59133L10.2945 5.26101L10.9855 4.59133C9.99837 3.5727 8.65953 3.00053 7.26361 3.00053C5.86769 3.00053 4.52885 3.5727 3.54168 4.59133C2.5546 5.60986 2 6.99133 2 8.43187C2 9.87241 2.5546 11.2539 3.54167 12.2724L11.2816 20.259C11.47 20.4534 11.7291 20.5631 11.9997 20.5631C12.2704 20.5631 12.5295 20.4534 12.7179 20.259L20.4576 12.2726C20.4577 12.2725 20.4578 12.2725 20.4578 12.2724C20.9466 11.7682 21.3346 11.1694 21.5992 10.5105C21.8638 9.85148 22 9.14517 22 8.43187C22 7.71857 21.8638 7.01225 21.5992 6.35328C21.3345 5.69421 20.9463 5.09518 20.4575 4.59099C19.9689 4.08665 19.3887 3.68657 18.7503 3.41358C18.1116 3.14054 17.4272 3 16.7359 3C16.0446 3 15.3601 3.14054 14.7215 3.41358C14.0829 3.6866 13.5028 4.08674 13.0141 4.59116C13.0141 4.59122 13.014 4.59127 13.0139 4.59133L11.9997 5.63785L10.9855 4.59133Z" stroke="#A94A24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              .goods-slider-slide__info
                .goods-slider-slide__row
                  span.goods-slider-slide__price.goods-slider-slide__price--newprice 21 600 руб.
                  span.goods-slider-slide__oldprice 25 000 руб.
                a.goods-slider-slide__name.hover-link(href="#") Матрас Царь
                button.goods-slider-slide__cart 
            li.goods-slider__slide.goods-slider-slide.swiper-slide
              a.goods-slider__link(href="#")
                .goods-slider-slide__img
                  picture
                    source(type="image/webp" srcset="images/good2.jpg")
                    img(src="images/good2.jpg" alt="Матрас Царь")
                  ul.goods-slider-slide__tags
                    li.goods-slider-slide__tag.goods-slider-slide__tag--best Бестселлер
              button.goods-slider-slide__fav.goods-slider-slide__fav--active
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.9855 4.59133L10.2945 5.26101L10.9855 4.59133C9.99837 3.5727 8.65953 3.00053 7.26361 3.00053C5.86769 3.00053 4.52885 3.5727 3.54168 4.59133C2.5546 5.60986 2 6.99133 2 8.43187C2 9.87241 2.5546 11.2539 3.54167 12.2724L11.2816 20.259C11.47 20.4534 11.7291 20.5631 11.9997 20.5631C12.2704 20.5631 12.5295 20.4534 12.7179 20.259L20.4576 12.2726C20.4577 12.2725 20.4578 12.2725 20.4578 12.2724C20.9466 11.7682 21.3346 11.1694 21.5992 10.5105C21.8638 9.85148 22 9.14517 22 8.43187C22 7.71857 21.8638 7.01225 21.5992 6.35328C21.3345 5.69421 20.9463 5.09518 20.4575 4.59099C19.9689 4.08665 19.3887 3.68657 18.7503 3.41358C18.1116 3.14054 17.4272 3 16.7359 3C16.0446 3 15.3601 3.14054 14.7215 3.41358C14.0829 3.6866 13.5028 4.08674 13.0141 4.59116C13.0141 4.59122 13.014 4.59127 13.0139 4.59133L11.9997 5.63785L10.9855 4.59133Z" stroke="#A94A24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              .goods-slider-slide__info
                .goods-slider-slide__row
                  span.goods-slider-slide__price.goods-slider-slide__price--newprice 21 600 руб.
                  span.goods-slider-slide__oldprice 25 000 руб.
                a.goods-slider-slide__name.hover-link(href="#") Матрас Царь
                button.goods-slider-slide__cart 
