extends ../template

block variables
  - var title = 'Контакты'
  - var breadrumbs = 1

block content
  section.contacts.margin-section
    .container.contacts__container
      .contacts__content
        h1.h1title Контакты
        ul.contacts__row 
          li.contacts__col
            h3.contacts__title Телефон
            a.contacts__text(href="tel:84992880170") +7 499 288 01 70
          li.contacts__col
            h3.contacts__title Viber/WhatsApp
            a.contacts__text(href="tel:89032479499") +7 903 247 94 99
          li.contacts__col
            h3.contacts__title Отдел продаж
            a.contacts__text(href="mailto:info-matras@yandex.ru") info-matras@yandex.ru
        .contacts__map
          <script type="text/javascript" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac73f17d190b7f49f9c19e0c92556225418511d8659c3598c9af87c79b8660ba8&amp;width=100%25&amp;height=360&amp;lang=ru_RU&amp;scroll=false"></script>
        ul.contacts__addresses
          li.contacts__col
            p.contacts__title Московская область
            p.contacts__text Люберецкий р-н, пос. Торбеево, д. 9
          li.contacts__col
            p.contacts__title Волгоград
            p.contacts__text пр-кт Маршала Жукова 94, «ТЦ Аура», 1 этаж

      aside.contacts__aside
        .contacts__text Принимаем заказы и консультируем по всем вопросам 
          span ежедневно с 10:00 до 22:00
        ul.contacts__socials
          li.contacts__social
            a(href="#") 
              <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M21.2235 3.06117C20.9781 2.11867 20.2552 1.37649 19.3373 1.1246C17.6738 0.666824 11.0026 0.666824 11.0026 0.666824C11.0026 0.666824 4.33145 0.666824 2.66782 1.1246C1.74988 1.37649 1.02697 2.11867 0.781635 3.06117C0.335938 4.76936 0.335938 8.33349 0.335938 8.33349C0.335938 8.33349 0.335938 11.8975 0.781635 13.6058C1.02697 14.5483 1.74988 15.2905 2.66782 15.5425C4.33145 16.0002 11.0026 16.0002 11.0026 16.0002C11.0026 16.0002 17.6738 16.0002 19.3373 15.5425C20.2552 15.2905 20.9781 14.5483 21.2235 13.6058C21.6693 11.8975 21.6693 8.33349 21.6693 8.33349C21.6693 8.33349 21.6693 4.76936 21.2235 3.06117ZM9.00065 5.33341V12.0001L14.334 8.66687L9.00065 5.33341Z" fill="#5468D4"/>
            </svg>
          li.contacts__social
            a(href="#") 
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.0036 0.333496C8.10668 0.333496 7.74313 0.346163 6.60534 0.397941C5.46977 0.449942 4.69465 0.629722 4.01642 0.893502C3.31486 1.16595 2.71974 1.5304 2.12684 2.12351C1.53351 2.71641 1.16906 3.31153 0.895721 4.01287C0.631274 4.69132 0.451272 5.46666 0.40016 6.60178C0.349271 7.73957 0.335938 8.10335 0.335938 11.0003C0.335938 13.8972 0.348826 14.2596 0.400383 15.3974C0.452605 16.533 0.632385 17.3081 0.895943 17.9863C1.16861 18.6879 1.53306 19.283 2.12618 19.8759C2.71885 20.4693 3.31397 20.8346 4.01509 21.107C4.69376 21.3708 5.4691 21.5506 6.60445 21.6026C7.74224 21.6544 8.10557 21.667 11.0023 21.667C13.8994 21.667 14.2619 21.6544 15.3996 21.6026C16.5352 21.5506 17.3112 21.3708 17.9899 21.107C18.6912 20.8346 19.2855 20.4693 19.8781 19.8759C20.4715 19.283 20.8359 18.6879 21.1093 17.9866C21.3715 17.3081 21.5515 16.5328 21.6048 15.3977C21.6559 14.2599 21.6693 13.8972 21.6693 11.0003C21.6693 8.10335 21.6559 7.73979 21.6048 6.602C21.5515 5.46644 21.3715 4.69132 21.1093 4.01309C20.8359 3.31153 20.4715 2.71641 19.8781 2.12351C19.2848 1.53018 18.6915 1.16573 17.9892 0.893502C17.3092 0.629722 16.5337 0.449942 15.3981 0.397941C14.2603 0.346163 13.8981 0.333496 11.0003 0.333496H11.0036ZM10.046 2.25576C10.2318 2.25547 10.4317 2.25556 10.6474 2.25565L11.0029 2.25576C13.8509 2.25576 14.1885 2.26598 15.3132 2.31709C16.3532 2.36465 16.9176 2.53843 17.2936 2.68443C17.7914 2.87776 18.1463 3.10888 18.5194 3.48221C18.8928 3.85555 19.1239 4.21111 19.3177 4.70889C19.4637 5.08445 19.6377 5.6489 19.685 6.68891C19.7361 7.81337 19.7472 8.15115 19.7472 10.9978C19.7472 13.8445 19.7361 14.1823 19.685 15.3068C19.6374 16.3468 19.4637 16.9112 19.3177 17.2868C19.1243 17.7846 18.8928 18.139 18.5194 18.5121C18.1461 18.8855 17.7916 19.1166 17.2936 19.3099C16.9181 19.4566 16.3532 19.6299 15.3132 19.6775C14.1887 19.7286 13.8509 19.7397 11.0029 19.7397C8.15465 19.7397 7.81709 19.7286 6.69264 19.6775C5.65263 19.6295 5.08818 19.4557 4.71195 19.3097C4.21417 19.1164 3.85861 18.8853 3.48527 18.5119C3.11194 18.1386 2.88082 17.7839 2.68704 17.2859C2.54104 16.9104 2.36704 16.3459 2.31971 15.3059C2.26859 14.1814 2.25837 13.8437 2.25837 10.9952C2.25837 8.14671 2.26859 7.8107 2.31971 6.68625C2.36726 5.64624 2.54104 5.08179 2.68704 4.70578C2.88038 4.208 3.11194 3.85244 3.48527 3.4791C3.85861 3.10577 4.21417 2.87465 4.71195 2.68087C5.08796 2.53421 5.65263 2.36087 6.69264 2.31309C7.67665 2.26865 8.05799 2.25531 10.046 2.25309V2.25576Z" fill="#5468D4"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.0012 5.52238C7.97611 5.52249 5.52354 7.97514 5.52354 11.0002C5.52354 14.0254 7.97624 16.4769 11.0014 16.4769C14.0265 16.4769 16.4783 14.0254 16.4783 11.0002C16.4783 7.97507 14.0263 5.52238 11.0012 5.52238ZM14.5586 11.0003C14.5586 9.03645 12.9666 7.44466 11.003 7.44466C9.03925 7.44466 7.44746 9.03645 7.44746 11.0003C7.44746 12.9638 9.03925 14.5558 11.003 14.5558C12.9666 14.5558 14.5586 12.9638 14.5586 11.0003Z" fill="#5468D4"/>
                <path d="M15.4175 5.30653C15.4175 4.59964 15.9909 4.02696 16.6976 4.02696C17.4042 4.02696 17.9776 4.59986 17.9776 5.30653C17.9776 6.01321 17.4042 6.58654 16.6976 6.58654C15.9909 6.58654 15.4175 6.01321 15.4175 5.30653Z" fill="#5468D4"/>
              </svg>
          li.contacts__social
            a(href="#") 
              <svg width="13" height="20" viewBox="0 0 13 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.1594 14.5336C10.2477 14.2943 11.2973 13.8786 12.2641 13.2925C12.9957 12.8472 13.2161 11.9137 12.7551 11.2075C12.2945 10.4997 11.328 10.2866 10.5951 10.7319C8.40506 12.0613 5.5854 12.061 3.39659 10.7319C2.66369 10.2866 1.69693 10.4997 1.23722 11.2075C0.776237 11.9143 0.996013 12.8472 1.72764 13.2925C2.6944 13.878 3.74401 14.2943 4.83234 14.5336L1.84313 17.419C1.2321 18.0095 1.2321 18.9668 1.84377 19.5572C2.14992 19.8521 2.55044 19.9997 2.95096 19.9997C3.35213 19.9997 3.75329 19.8521 4.05944 19.5572L6.99555 16.7218L9.93421 19.5572C10.5452 20.1476 11.5366 20.1476 12.1483 19.5572C12.7606 18.9668 12.7606 18.0089 12.1483 17.419L9.1594 14.5336Z" fill="#5468D4"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.3309 5.16132C12.3309 8.00662 9.93353 10.3211 6.9843 10.3211C4.03572 10.3211 1.6377 8.00662 1.6377 5.16132C1.6377 2.31509 4.03572 0 6.9843 0C9.93353 0 12.3309 2.31509 12.3309 5.16132ZM9.19615 5.16134C9.19615 3.98295 8.20315 3.02473 6.98239 3.02473C5.76258 3.02473 4.76863 3.98295 4.76863 5.16134C4.76863 6.3388 5.76258 7.29763 6.98239 7.29763C8.20315 7.29763 9.19615 6.3388 9.19615 5.16134Z" fill="#5468D4"/>
              </svg>
          li.contacts__social
            a(href="#") 
              <svg width="11" height="22" viewBox="0 0 11 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.08333 21.7596V10.8785H10.087L10.485 7.12884H7.08333L7.08843 5.25209C7.08843 4.27412 7.18135 3.7501 8.586 3.7501H10.4638V0H7.45969C3.85131 0 2.58126 1.81899 2.58126 4.87797V7.12926H0.332031V10.8789H2.58126V21.7596H7.08333Z" fill="#5468D4"/>
              </svg>
          li.contacts__social
            a(href="#") 
              <svg width="22" height="13" viewBox="0 0 22 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.0449 12.5634C12.0449 12.5634 12.4299 12.5214 12.6271 12.3135C12.8077 12.123 12.8014 11.7635 12.8014 11.7635C12.8014 11.7635 12.7774 10.0848 13.5714 9.83694C14.354 9.59318 15.3588 11.4603 16.4252 12.1783C17.2307 12.7211 17.8421 12.6023 17.8421 12.6023L20.6917 12.5634C20.6917 12.5634 22.1817 12.4733 21.4753 11.3231C21.4169 11.2288 21.0631 10.472 19.3572 8.9172C17.5698 7.28972 17.8098 7.55295 19.9613 4.73739C21.2718 3.02286 21.7956 1.97611 21.6318 1.52853C21.4763 1.10041 20.5122 1.2141 20.5122 1.2141L17.3048 1.23356C17.3048 1.23356 17.0669 1.20181 16.8905 1.30525C16.7184 1.40665 16.6067 1.64324 16.6067 1.64324C16.6067 1.64324 16.0996 2.9696 15.4224 4.09828C13.994 6.47855 13.4233 6.60453 13.1895 6.45704C12.6459 6.11188 12.7816 5.07231 12.7816 4.33385C12.7816 2.0263 13.1384 1.06456 12.0877 0.815681C11.7392 0.73272 11.4825 0.678437 10.5904 0.669219C9.44577 0.657953 8.47748 0.673316 7.92865 0.936538C7.56345 1.11168 7.28173 1.50293 7.45389 1.52546C7.66571 1.55311 8.14568 1.65246 8.40027 1.9925C8.72895 2.43189 8.71747 3.41718 8.71747 3.41718C8.71747 3.41718 8.90633 6.13339 8.2761 6.47036C7.84413 6.70183 7.25147 6.22967 5.97746 4.0696C5.32533 2.96345 4.83284 1.74054 4.83284 1.74054C4.83284 1.74054 4.73789 1.51215 4.56781 1.38924C4.36226 1.24073 4.07532 1.19464 4.07532 1.19464L1.02751 1.2141C1.02751 1.2141 0.569448 1.22639 0.401458 1.42201C0.25225 1.59511 0.389981 1.9546 0.389981 1.9546C0.389981 1.9546 2.77627 7.43516 5.47871 10.1975C7.95682 12.7293 10.7699 12.5634 10.7699 12.5634H12.0449Z" fill="#5468D4"/>
              </svg>
        .contacts__details.contacts-details 
          p.contacts__title Реквизиты компании
          p.contacts__text ООО «Торбеевские матрасы»
          ul.contacts-details__list
            li.contacts-details__item 
              span ИНН
              span 5027259786
            li.contacts-details__item 
              span ОГРН
              span 1175027031904
            li.contacts-details__item 
              span КПП
              span 502701001
            li.contacts-details__item 
              span ОКПО
              span 22106325
            li.contacts-details__item 
              span ОКАТО
              span 46231565005
            li.contacts-details__item 
              span ОКВЭД
              span 31.03
            li.contacts-details__item 
              span БИК
              span 044525503
            li.contacts-details__item 
              span Р/с
              span АО «СМП Банк»


  include ../includes/form.pug




