extends ../template

block variables
  - var title = 'Карта сайта'

block content
  style.
    .map__container{
      margin-top: 50px;
    }
    table{
      width: 100%;
      border-collapse: collapse;
    }
    td{
      border: 1px solid black
    }
    td:hover{
      background: #F7F7F7;
    }
    td a{
      display: block;
      padding: 20px;
    }
  .container.map__container
    h2.h2title Карта сайта
    table
      tbody
        tr
          td 
            a(href="main.html" target="_blank") Главная
        tr
          td 
            a(href="catalog.html" target="_blank") Каталог
