extends ../template

block variables
  - var title = 'Текстовые страницы'
  - var breadrumbs = 1

block content
  section.text.margin-section
    .container
      h1.h1title Покупателям
      .text__main
        .text__content
          .text__tabs.tabs 
            ul.good-content__navigation.good-content-navigation
              li.good-content-navigation__item
                button.good-content-navigation__btn.tabs__btn(data-tab="1") Как ухаживать за матрасом
              li.good-content-navigation__item
                button.good-content-navigation__btn.tabs__btn.tabs__btn--active(data-tab="2") Матрасы на заказ
            .good-content__tab.good-content-tab.tabs__container(data-tab="1")
              h2.text__title Рекомендации по использованию матраса
              ul.text__list
                li В процессе эксплуатации один раз в 1-3 месяца переворачивать матрас, меняя стороны и положение «ноги — голова»
                li Весьма желательно внешнюю поверхность матраса защищать чехлом или наматрасником
                li Матрас должен иметь цельную ровную основу, рекомендуется анатомическое основание с упругими ламелями
                li Размещать матрас в сухом помещении и далеко от огнеопасных приборов
                li Беречь матрас от попадания жидкостей и химикатов
              h2.text__title Что нельзя делать с матрасом
              ul.text__list
                li Прыгать или ходить по поверхности матраса
                li Сгибать матрас при транспортировке
                li Чистить поверхность матраса любыми химическими средствами и отдавать в химчистку
                li Отдавать матрас в химчистку
                li Использовать матрас на не качественном, или меньших размеров основании
            .good-content__tab.good-content-tab.tabs__container.tabs__container--active(data-tab="2")
              p В дизайне интерьера  все более популярными становятся предметы меблировки, изготовленные по индивидуальному заказу. Это относится и к спальне — кровати нестандартного размера могут представлять собой интерес с точки зрения сохранения свободного пространства или быть предпочтительными по  иным причинам.
              p Но в такой ситуации выбор  спальных принадлежностей может представлять собой серьезные трудности — к продаже предлагаются преимущественно типовые изделия, изготовленные по стандартным габаритам.
              p Фабрика «Торбеевские матрасы»  готова помочь вам в решении этой задачи. У нас вы можете заказать анатомический матрас по своим размерам, который будет в полной мере удовлетворять всем заявленным требованиям.
              h2.text__title У нас максимально быстрые сроки изготовления
              ul.text__list
                li При наличии выбранного вами продукта ваш заказ будет доставлен в течение от 1 до 3 рабочих дней
                li Изготовление нестандартных матрасов займет от 2 до 4 рабочих дней с момента получения оплаты
                li Анатомические основания с широкой врезной ламелью поддерживаются складской программой нашего предприятия и также доставляются в кратчайшие сроки — 1 — 3 рабочих дня
              p Высокое качество всех комплектующих и инновационный подход к конструированию каждой модели обеспечивает матрасам на заказ  долговечность и полную функциональность. Но это далеко не все их преимущества. Мы предлагаем вам заказать анатомический матрас по нестандартным размерам, который может быть выполнен в соответствии со следующими вашими пожеланиями:
              p <span class="text-hint">Разнообразие форм.</span> Прямоугольный, квадратный, круглый, в виде сектора или треугольника — вариативность форм ограничена только вашей фантазией и целевым назначением матраса. Среди моделей, выполненных нами на заказ, представлены матрасы для оборудования съемочной площадки  фотосалонов, оснащения кают на яхтах и для других «нетипичных» спальных мест.
              p <span class="text-hint">Выбор консрукционных и эксплуатационных характеристик.</span> В зависимости от ваших личных предпочтений вы можете заказать матрас в любой из существующих модификаций. Вариативность жесткости (от самой мягкой до жесткой поверхности), разносторонние (со сторонами «зима-лето»), с одним или несколькими пружинными блоками, с различными наполнителями и высотой и пр.
              p <span class="text-hint">Дизайн на любой вкус.</span> Эстетика играет не последнюю роль в интерьере спальни вообще, и в создании комфортабельных условий для сна, в частности.  Вы можете заказать матрас с ровной поверхностью  или оформленный  рельефной простеганной тканью, выбрать цвет наматрасника и варьировать другие критерии дизайна.
              p Но каким бы сложным в плане конструирования и замысловатым с точки зрения дизайна ни был матрас, будьте уверены: это будет модель безусловно высокого качества. Как и все стальные изделия от фабрики «Торбеевские матрасы»!
              h2.text__title Примеры матрасов, которые мы делаем
              .good-content__slider.good-content-slider.swiper-container
                ul.good-content-slider__wrapper.swiper-wrapper
                  li.good-content-slider__slide.swiper-slide
                    a.glightbox(href="images/text3.jpg" data-gallery="gallery1") 
                      picture
                        source(type="image/webp" srcset="images/text3.jpg")
                        img(src="images/text3.jpg" alt="Матрас Царь")
                    .good-content-slider__info 
                      .good-content-slider__col 
                        p Модель 1
                      .good-content-slider__col 
                        p Высокий матрас, высота 49 см, с двойным пружинным блоком
                        a.arrow-after(href="#") Заказать
                  li.good-content-slider__slide.swiper-slide
                    a.glightbox(href="images/text4.jpg" data-gallery="gallery1") 
                      picture
                        source(type="image/webp" srcset="images/text4.jpg")
                        img(src="images/text4.jpg" alt="Матрас Царь")
                    .good-content-slider__info 
                      .good-content-slider__col 
                        p Модель 2
                      .good-content-slider__col 
                        p Круглый матрас, часто заказывают для коттеджа, или для модельного агентства.
                        a.arrow-after(href="#") Заказать
                  li.good-content-slider__slide.swiper-slide
                    a.glightbox(href="images/text5.jpg" data-gallery="gallery1") 
                      picture
                        source(type="image/webp" srcset="images/text5.jpg")
                        img(src="images/text5.jpg" alt="Матрас Царь")
                    .good-content-slider__info 
                      .good-content-slider__col 
                        p Модель 3
                      .good-content-slider__col 
                        p Матрас необычной формы, для яхты.
                        a.arrow-after(href="#") Заказать
                  li.good-content-slider__slide.swiper-slide
                    a.glightbox(href="images/text6.jpg" data-gallery="gallery1") 
                      picture
                        source(type="image/webp" srcset="images/text6.jpg")
                        img(src="images/text6.jpg" alt="Матрас Царь")
                    .good-content-slider__info 
                      .good-content-slider__col 
                        p Модель 4
                      .good-content-slider__col 
                        p Высокий беспружинный матрас, предназначен для человека с индексом повышенного веса.
                        a.arrow-after(href="#") Заказать
                .swiper-pagination
              .good-content__wrap
                .good-content__thumbs.good-content-thumbs.swiper-container
                  ul.good-content-thumbs__wrapper.swiper-wrapper
                    li.good-content-thumbs__slide.swiper-slide
                      picture
                        source(type="image/webp" srcset="images/text3.jpg")
                        img(src="images/text3.jpg" alt="Матрас Царь")
                    li.good-content-thumbs__slide.swiper-slide
                      picture
                        source(type="image/webp" srcset="images/text4.jpg")
                        img(src="images/text4.jpg" alt="Матрас Царь")
                    li.good-content-thumbs__slide.swiper-slide
                      picture
                        source(type="image/webp" srcset="images/text5.jpg")
                        img(src="images/text5.jpg" alt="Матрас Царь")
                    li.good-content-thumbs__slide.swiper-slide
                      picture
                        source(type="image/webp" srcset="images/text6.jpg")
                        img(src="images/text6.jpg" alt="Матрас Царь")
                .swiper-button-prev 
                  <svg width="20" height="6" viewBox="0 0 20 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2.66284 0.17157L0.117254 2.71715C-0.038956 2.87336 -0.038956 3.12663 0.117254 3.28284L2.66284 5.82842C2.81905 5.98463 3.07231 5.98463 3.22852 5.82842C3.38473 5.67222 3.38473 5.41895 3.22852 5.26274L1.36578 3.4H19.6001V2.6H1.36578L3.22852 0.737256C3.38473 0.581046 3.38473 0.32778 3.22852 0.17157C3.07231 0.0153604 2.81905 0.0153604 2.66284 0.17157Z" fill="#00996E"/>
                  </svg>
                .swiper-button-next
                  <svg width="20" height="6" viewBox="0 0 20 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.3372 0.171601L19.8827 2.71719C20.039 2.87339 20.039 3.12666 19.8827 3.28287L17.3372 5.82846C17.181 5.98467 16.9277 5.98467 16.7715 5.82846C16.6153 5.67225 16.6153 5.41898 16.7715 5.26277L18.6342 3.40003H0.399902V2.60003H18.6342L16.7715 0.737286C16.6153 0.581076 16.6153 0.32781 16.7715 0.171601C16.9277 0.0153909 17.181 0.0153909 17.3372 0.171601Z" fill="#00996e"/>
                  </svg>
        aside.text__aside.text-aside
          .text-aside__content
            .text-aside__row
              .text-aside__slider.text-aside-slider
                .text-aside-slider__container.swiper-container 
                  ul.text-aside-slider__wrapper.swiper-wrapper 
                    -for(i = 0; i < 5; i++)
                      li.text-aside-slider__slide.swiper-slide
                        picture
                          source(type="image/webp" srcset="images/text2.jpg")
                          img.text-aside-slider__img(src="images/text2.jpg" alt="Шоурум")
                  .swiper-pagination
                .swiper-button-prev 
                  <svg width="20" height="6" viewBox="0 0 20 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2.66284 0.17157L0.117254 2.71715C-0.038956 2.87336 -0.038956 3.12663 0.117254 3.28284L2.66284 5.82842C2.81905 5.98463 3.07231 5.98463 3.22852 5.82842C3.38473 5.67222 3.38473 5.41895 3.22852 5.26274L1.36578 3.4H19.6001V2.6H1.36578L3.22852 0.737256C3.38473 0.581046 3.38473 0.32778 3.22852 0.17157C3.07231 0.0153604 2.81905 0.0153604 2.66284 0.17157Z" fill="#00996E"/>
                  </svg>
                .swiper-button-next
                  <svg width="20" height="6" viewBox="0 0 20 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.3372 0.171601L19.8827 2.71719C20.039 2.87339 20.039 3.12666 19.8827 3.28287L17.3372 5.82846C17.181 5.98467 16.9277 5.98467 16.7715 5.82846C16.6153 5.67225 16.6153 5.41898 16.7715 5.26277L18.6342 3.40003H0.399902V2.60003H18.6342L16.7715 0.737286C16.6153 0.581076 16.6153 0.32781 16.7715 0.171601C16.9277 0.0153909 17.181 0.0153909 17.3372 0.171601Z" fill="#00996e"/>
                  </svg>
              .text-aside__col
                p.text-aside__title В нашем шоуруме можно полежать
                p.text-aside__text Ждем вас в пн–пт с 8-30 до 17-30, в сб и вс — по предварительному звонку на номера <a class="popup-link" href="tel:84992880170">+7 499 288 01 70</a> и <a class="popup-link" href="tel:89032479499">+7 903 247 94 99</a>


  section.text.margin-section
    .container
      h1.h1title Партнёрам
      .text__main
        .text__content
          h2.text__title Оптовикам
          p Торбеевские матрасы уже давно сотрудничают со многими интернет магазинами и другими оптовыми покупателями матрасов и наматрасников. Ключевые пункты к сотрудничеству:
          ul.text__list
            li Схема скидок при оптовой покупке, что позволит повысить торговую прибыль
            li Низкий ценовой сегмент
          h2.text__title Гостиницам и отелям
          picture
            source(type="image/webp" srcset="images/text1.jpg")
            img.text__img(src="images/text1.jpg" alt="Гостиницам и отелям")
          p Огромный опыт работы коллектива ООО “Торбеевские матрасы” позволяет успешно охватывать все сегменты рынка в области производства матрасов и кроватных оснований. Профессионалы постоянно работают над совершенствованием продукции фабрики. Успехи в специализированных конкурсах и многочисленные благодарственные отзывы от клиентов – лучшее подтверждение успешности предприятия. Многолетний опыт – один из показателей надежности и качества.
          ul.text__list
            li Оптимальные для клиента сроки производства
            li Поставка продукции в любом объеме
          p Расширяя линейку выпускаемой продукции, специалисты фабрики подготовили уникальное предложение для владельцев отелей, гостевых домов, хостелов. Выпускаемые матрасы для гостиниц выполнены с учётом всех особенностей гостиничного бизнеса. Удобство и комфорт постояльцев — основная задача дизайнеров фабрики. Анатомические матрасы обеспечат полноценный отдых гостей.
          p Качество изготовления матрасов для отелей таково, что самые притязательные клиенты останутся довольны. Фабрика «Торбеевские матрасы» профессионально подготовит спальное место для номера любого класса и уровня: от элитного до эконом размещения.
          h2.text__title Матрасы с брендом отеля
          p Производя анатомические матрасы для гостиниц и отелей, специалисты фабрики понимают и учитывают все чаяния владельцев бизнеса. В качестве дополнительной услуги на матрасе может быть выполнен логотип отеля, который украсит изделие и сделает его неповторимым.
          p Взаимодействуя с фабрикой «Торбеевские матрасы», отельеры получают ряд дополнительных выгод:
          ul.text__list
            li Производство уникальных, в том числе нестандартных моделей по условиям заказчика;
            li Прочность и качество матрасов позволит эксплуатировать их длительное время без замены;
            li Гибкая система скидок для оптовых и постоянных клиентов;
            li Хорошо отлаженная система логистики;
            li Широчайший ассортимент матрасов и наматрасников, подходящих к использованию в гостиничном бизнесе.
          p Качество продукции фабрики сделает честь любому самому изысканному отелю. Всегда можно заказать матрасы с зависимыми и независимыми пружинными блоками, взрослые и детские, различной степени жесткости. Все изделия выполняются в строгом соответствии с требованиями стандартов для мебели гостиниц.
        aside.text__aside.text-aside 
          .text-aside__content
            .text-aside__info.text-aside-info
              p Сроки доставки матрасов и анатомических оснований — <span class="text-hint">3–5 дней</span>. Расчёт стоимости доставки и согласование её даты происходит непосредственно в момент принятия и подтверждения заказа.
              p Заказ товара производится в считанные минуты по телефонам <a class="popup-link" href="tel:84992880170">+7 499 288 01 70</a> и <a class="popup-link" href="tel:89032479499">+7 903 247 94 99</a>
              .text-aside-info__bot 
                p Мы работаем и отвечаем на звонки с понедельника по пятницу с 9:00 до 18:00


  section.text.margin-section
    .container
      h1.h1title Доставка и оплата
      .text__main
        .text__content
          h2.text__title Мы доставляем ваши заказы по Москве и области, а также по всей России
          p В назначенный срок мы доставляем Вам товар, Вы его осматриваете и только после этого оплачиваете, подписывая сопроводительные документы о получении товара надлежащего качества.
          p Расчёт стоимости и согласование даты доставки — непосредственно в момент принятия и подтверждения заказа.
          p Непосредственно перед выездом курьер или водитель-экспедитор информирует Вас о приблизительном времени доставки.
          h2.text__title Стоимость
          p Оплата товара и доставки осуществляется в рублях по факту принятия товара, строго в соответствии с ценой, указанной в товарном чеке или товарной накладной.
          ul.good-content-tab__list
            li.good-content-tab__subrow 
              .good-content-tab__name Утилизация старого матраса
              .good-content-tab__value Бесплатно
            li.good-content-tab__subrow 
              .good-content-tab__name По Москве в пределах МКАД
              .good-content-tab__value 600 руб.
            li.good-content-tab__subrow 
              .good-content-tab__name За пределы МКАД
              .good-content-tab__value 600 руб. + 30 руб./км
            li.good-content-tab__subrow 
              .good-content-tab__name Подъём на грузовом лифте
              .good-content-tab__value 200 рублей за каждое изделие
            li.good-content-tab__subrow 
              .good-content-tab__name Подъём вручную
              .good-content-tab__value Занос на 1 этаж — 200 руб. + 100 руб. за каждый следующий этаж
          h2.text__title Сроки
          p Оплата товара и доставки осуществляется в рублях по факту принятия товара, строго в соответствии с ценой, указанной в товарном чеке или товарной накладной.
          ul.good-content-tab__list
            li.good-content-tab__subrow 
              .good-content-tab__name По Москве и области
              .good-content-tab__value 1–3 рабочих дня с момента подачи заявки и согласования условий доставки
            li.good-content-tab__subrow 
              .good-content-tab__name Доставка кроватей и ортопедических оснований
              .good-content-tab__value 1–15 рабочих дней


  section.text.margin-section
    .container
      h1.h1title Гарантия
      .text__main
        .text__content
          p Команда ООО “Торбеевские матрасы“ гарантирует, что наши матрасы обеспечат вам  максимально комфортный сон и создадут благоприятные условия для вашей спины и правильного кровообращения.  Оптимальный срок службы нашей продукции составляет от 10 до 15 лет при условии правильной эксплуатации, однако для стабильного крепкого сна врачи советуют обновлять матрас каждые восемь лет, поскольку с течением времени устаревший матрас больше не может обеспечивать нужную опору Вашему позвоночнику. Ниже вы можете ознакомиться с условиями гарантии.
          p Мы гарантируем качественный товар своему покупателю: матрасы нашей фабрики соответствуют требованиям ГОСТ 19917-93 «Мебель для сидения и лежания общие технические условия»
          h2.text__title Гарантийные обязательства будут выполнены при условии соблюдения следующих требований:
          ul.text__list
            li Транспортирование изделий крытым видом транспорта или открытым автотранспортом при условии предотвращения их от повреждения, загрязнения и атмосферных осадков, ГОСТ 16371 «Транспортирование и хранение мебели для сидения и лежания»
            li Эксплуатация и хранение изделий в сухих, чистых, проветриваемых помещениях при температуре не ниже +2 градуса по Цельсию и относительной влажности воздуха от 45% до 70%
          .text__tabs.tabs 
            ul.good-content__navigation.good-content-navigation
              li.good-content-navigation__item
                button.good-content-navigation__btn.tabs__btn.tabs__btn--active(data-tab="1") Гарантийные случаи
              li.good-content-navigation__item
                button.good-content-navigation__btn.tabs__btn(data-tab="2") Не гарантийные случаи 
            .good-content__tab.good-content-tab.tabs__container.tabs__container--active(data-tab="1")
              h2.text__title Гарантия распространяется на:
              ul.text__list
                li матрасы, в которых обнаружены пружины или проволока, которые ослабли или лопнули
                li поверхностные материалы, поврежденные пружинами или проволоками, которые вышли наружу матраса
                li впадины<span class="text-hint">*</span> в матрасе в случае, если под матрасом использовалось качественное основание (с центральной опорой при ширине  более 120 см или с пятью жесткими поперечными ламелями). Впадинами считаются углубления на поверхности не менее 4 см с каждой стороны матраса.<br> <span class="text-hint__text">* незначительные углубления по форме тела не являются дефектом и считаются нормальной естественной усадкой матраса.</span>
            .good-content__tab.good-content-tab.tabs__container(data-tab="2")
              h2.text__title Гарантия не распространяется на:
              ul.text__list
                li на облицовочные ткани матраса;
                li на изделия, повреждения которых возникли в результате непредвиденных обстоятельств (стихия пожара, бытовые факторы)
                li на изделия, повреждения которых возникли в результате несоблюдения покупателем правил транспортировки, хранения и эксплуатации
                li на изделия со следами постороннего вмешательства или самостоятельного ремонта
                li на изделия, в которых изменен состав комплектующих по желанию потребителя
                li на изделия нестандартных размеров и изготовленных по индивидуальному заказу
                li на изделия, не подошедшие по комфортности и степени жесткости по вкусовым предпочтениям
              p Изделие может некоторое время иметь характерный запах материалов, которые используются при изготовлении матрасов.
              p Претензии относительно дизайна и комплектации матраса после продажи не принимаются.
              p Претензии к качеству матраса предъявляются в письменном виде со ссылкой на документы, сопровождающие покупку матраса. Замена или ремонт изделия со скрытыми дефектами возможны только после экспертизы, подтвердившей вину производителя.
              p Обращаем Ваше внимание на то, что в случае, если матрас забирают на экспертизу, на основании Постановления Правительства РФ от 19 января 1998 г. №55 на мебель (и матрасы, в частности) не распространяется требование покупателя о безвозмездном предоставлении ему на период ремонта или замены аналогичного товара. На основании того же Постановления матрасы входят в перечень непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену на аналогичный товар других размера, формы, габарита, фасона, расцветки или комплектации. В частности, это относится к матрасам, не подошедшим по степени жесткости и размеру.
        aside.text__aside.text-aside 
          .text-aside__content
            .text-aside-docs__wrap.select
              button.text-aside-docs__show.select-open
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M2.5 3.33366C2.03976 3.33366 1.66667 3.70675 1.66667 4.16699V15.8337C1.66667 16.2939 2.03976 16.667 2.5 16.667H17.5C17.9602 16.667 18.3333 16.2939 18.3333 15.8337V6.66699C18.3333 6.20676 17.9602 5.83366 17.5 5.83366H11.4499C10.8531 5.83366 10.276 5.62018 9.82289 5.2318L7.84245 3.53428C7.69142 3.40482 7.49905 3.33366 7.30013 3.33366H2.5ZM0 4.16699C0 2.78628 1.11929 1.66699 2.5 1.66699H7.30013C7.8969 1.66699 8.474 1.88047 8.9271 2.26885L10.9075 3.96637C11.0586 4.09583 11.2509 4.16699 11.4499 4.16699H17.5C18.8807 4.16699 20 5.28628 20 6.66699V15.8337C20 17.2144 18.8807 18.3337 17.5 18.3337H2.5C1.11929 18.3337 0 17.2144 0 15.8337V4.16699Z" fill="#2437A9"/>
                </svg>
              ul.text-aside__docs.text-aside-docs.select-block
                li.text-aside-docs__item.text-aside-docs__item--popup
                  a.popup-link.glightbox(href="images/garatiya1.jpg" data-gallery="gallery2") Пример гарантийного талона
                li.text-aside-docs__item.text-aside-docs__item--download
                  a.popup-link(href="images/garatiya2.jpg" download) Декларация о соответсвии
            .text-aside__info.text-aside-info
              p По уточнениям и вопросам о возврате по гарантии звоните по телефонам <a class="popup-link" href="tel:84992880170">+7 499 288 01 70</a> и <a class="popup-link" href="tel:89032479499">+7 903 247 94 99</a>
              .text-aside-info__bot 
                p Мы работаем и отвечаем на звонки с понедельника по пятницу с 9:00 до 18:00


  section.text.margin-section
    .container
      h1.h2title Политика конфиденциальности
      .text__main
        .text__content
          p Я согласен(на) на обработку моих персональных данных
          p Настоящим Я, действуя своей волей и в своем интересе, при размещении (вводе) своих персональных данных на Интернет сайте https://tmvo.ru/ общества с ограниченной ответственностью "Торбеевские матрасы" (ИНН 5027259786, ОГРН 1175027031904, далее - Оператор) подтверждаю свое согласие на обработку указанных мной персональных данных Оператором в целях предложения мне услуг, новых услуг, предлагаемых Оператором, в целях проведения опросов, анкетирования, рекламных и маркетинговых исследований в отношении услуг, предоставляемых Оператором, в том числе путем осуществления прямых контактов со мною посредством средств связи, указанных мной на настоящем сайте.Настоящее право (согласие) предоставляется на осуществление любых действий в отношении моих персональных данных, которые необходимы и желаемы для достижения вышеуказанных целей, включая, без ограничения, сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, передачу, обезличивание, блокирование и уничтожение персональных данных, под которыми понимаются все данные, указанные мной на настоящем сайте.<br> Настоящим подтверждаю, что уведомлен о том, что обработка персональных данных осуществляется Оператором любым способом, в том числе как с использованием средств автоматизации (включая программное обеспечение), так и без использования средств автоматизации (с использованием различных материальных носителей, включая бумажные носители).


