.page404 {
  position: relative;
  &__img {
    width: 100%;
    height: 888px;
    object-fit: cover;
    object-position: right bottom;
  }
  &__content {
    position: absolute;
    top: 104px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  &__title {
    margin-top: 0;
    margin-bottom: 56px;
    font-weight: 500;
    font-size: 340px;
    line-height: 312px;
    letter-spacing: 0.01em;
    color: $neutral-color-2;
  }
  &__subtitle {
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: normal;
    font-size: 61px;
    line-height: 72px;
  }
  &__text {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
  }
}
