.basket {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
    @include w1023 {
      margin-bottom: 32px;
    }
    @include w767 {
      margin-bottom: 16px;
    }
  }
  &__title {
    margin-bottom: 0;
  }
  &__row {
    display: flex;
    align-items: center;
  }
  &__num {
    color: $neutral-color-5;
  }
  &__btn {
    display: block;
    margin-left: 32px;
    padding: 9px 15px;
    cursor: pointer;
    @include w767 {
      width: 24px;
      height: 24px;
      margin-left: 8px;
      padding: 0;
      border: none;
      background: url('../images/icon-delete.svg') center/contain no-repeat;
      font-size: 0;
    }
    &:hover,
    &:focus {
      @include w767 {
        background: url('../images/icon-delete.svg') center/contain no-repeat;
      }
    }
  }
  &__header {
    display: flex;
    padding-bottom: 24px;
    margin-bottom: 19px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: $neutral-color-4;
    border-bottom: 1px solid $neutral-color-9;
    @include w1023 {
      display: none;
    }
  }
  &__col {
    display: flex;
    align-items: center;
    font-size: 20px;
    @include w1023 {
      align-items: flex-start;
      padding-right: 40px;
      padding-left: 102px;
      font-size: 16px;
    }
    &:not(:last-child) {
      @include w1023 {
        margin-bottom: 12px;
      }
    }
    &:nth-child(1) {
      flex: 0 0 50.9%;
      padding-left: 64px;
      @include w1023 {
        padding-left: 16px;
      }
    }
    &:nth-child(2) {
      flex: 0 0 20%;
    }
    &:nth-child(3) {
      flex: 0 0 13%;
    }
    &:nth-child(4) {
      flex: 1;
      justify-content: flex-end;
      padding-right: 16px;
      text-align: right;
      font-weight: 500;
      @include w1023 {
        justify-content: flex-start;
        font-size: 20px;
      }
    }
  }
  &__items {
    padding: 0;
    list-style: none;
    @include w1023 {
      transform: translateX(-16px);
      width: calc(100% + 32px);
    }
  }
  &__item {
    position: relative;
    display: flex;
    padding: 16px 0;
    border-radius: 8px;
    @include w1023 {
      display: block;
    }
    &:not(:last-child) {
      margin-bottom: 16px;
    }
    &--gift {
      background-color: $neutral-color-10;
    }
    &--deleted {
      box-shadow: 0px 2px 12px #e9eaec;
      .basket__col {
        @include w1023 {
          padding-left: 16px;
        }
        &:nth-child(2),
        &:nth-child(3) {
          @include w1023 {
            display: none;
          }
        }
      }
    }
  }
  &-item {
    &__img {
      width: 88px;
      height: 88px;
      flex-shrink: 0;
      margin-right: 24px;
      border-radius: 4px;
      overflow: hidden;
      @include w1023 {
        width: 70px;
        height: 70px;
        margin-right: 16px;
      }
      &:hover,
      &:focus {
        img {
          transform: scale(1.13);
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.7s;
      }
    }
    &__delete {
      position: absolute;
      left: 17px;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background: $neutral-color-8;
      border: none;
      cursor: pointer;
      @include w1023 {
        top: 16px;
        right: 16px;
        left: auto;
        transform: none;
      }
    }
    &__gift {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      font-size: 12px;
      line-height: 16px;
      color: $tertiary-color;
      svg {
        margin-right: 8px;
      }
    }
    &__name {
      display: block;
      margin-bottom: 8px;
      font-weight: 500;
      font-size: 16px;
    }
    &__desc {
      margin-bottom: 8px;
      font-size: 16px;
      color: $neutral-color-5;
    }
    &__text {
      padding-right: 20%;
      font-size: 16px;
      line-height: 24px;
      @include w1023 {
        padding-right: 0;
      }
      span {
        font-weight: 500;
      }
    }
    &__recovery {
      padding: 9px 14px;
      font-size: 16px;
      cursor: pointer;
    }
  }
  &__wrap {
    @include w767 {
      position: sticky;
      bottom: 56px;
      padding-bottom: 16px;
      background: #fff;
    }
  }
  &__bot {
    position: relative;
    display: flex;
    margin-top: 16px;
    margin-bottom: 39px;
    padding-top: 40px;
    border-top: 1px solid $neutral-color-9;
    @include w1023 {
      padding-top: 32px;
    }
    @include w767 {
      margin-bottom: 16px;
      padding-top: 16px;
    }
    .basket__col {
      display: block;
      @include w1023 {
        padding-left: 86px;
      }
      @include w767 {
        padding: 0;
      }
      &:nth-child(1) {
        @include w1023 {
          display: none;
        }
      }
      &:nth-child(2) {
        @include w1023 {
          padding-top: 3px;
          font-size: 20px;
        }
        @include w767 {
          padding-top: 0;
          font-size: 16px;
        }
      }
      &:nth-child(3) {
        @include w1023 {
          position: absolute;
          top: 64px;
          left: 0;
        }
        @include w767 {
          top: 48px;
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
  }
  &__total {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 25px;
    line-height: 32px;
    @include w1200 {
      font-size: 20px;
      line-height: 24px;
    }
    @include w1023 {
      font-size: 25px;
      line-height: 32px;
    }
    @include w767 {
      font-size: 20px;
      line-height: 24px;
    }
  }
  &__hint {
    display: block;
    font-size: 12px;
    line-height: 16px;
    color: $neutral-color-6;
    @include w767 {
      font-size: 10px;
    }
  }
  &__checkout {
    display: block;
    width: fit-content;
    margin-left: auto;
    padding: 12px 24px;
    font-size: 16px;
    @include w1023 {
      padding: 8px 16px;
    }
    @include w767 {
      padding: 8px;
    }
    &:not(:first-child) {
      margin-left: 24px;
      @include w1023 {
        margin-left: 16px;
      }
      @include w767 {
        flex: 1;
        text-align: center;
      }
    }
    &.btn-border {
      padding: 10px 24px;
      @include w1023 {
        padding: 6px 16px;
      }
      @include w767 {
        padding: 6px 10px;
      }
    }
  }
}
