.catalog {
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
    @include w1023 {
      margin-top: -1px;
      margin-bottom: 40px;
    }
    @include w767 {
      display: block;
    }
  }
  &__text {
    max-width: 63%;
    margin: 0;
    font-size: 20px;
    line-height: 32px;
    @include w1023 {
      font-size: 16px;
      line-height: 24px;
    }
    @include w767 {
      max-width: none;
      margin-bottom: 24px;
    }
  }
  &__col {
    padding-top: 6px;
    padding-right: 39px;
    @include w1023 {
      padding-top: 0;
      padding-right: 0;
      padding-left: 37px;
    }
    @include w767 {
      padding-left: 0;
    }
  }
  &__link {
    display: block;
    margin-bottom: 8px;
    line-height: 24px;
  }
  &__categories {
    display: flex;
    padding-bottom: 64px;
    margin-bottom: 38px;
    padding-left: 0;
    border-bottom: 1px solid #e1e1e1;
    list-style: none;
    @include w1023 {
      padding-bottom: 40px;
      margin-bottom: 22px;
    }
    @include w767 {
      overflow-x: scroll;
      width: calc(100% + 32px);
      margin-bottom: 23px;
      padding-left: 16px;
      padding-bottom: 23px;
      transform: translateX(-16px);
      overflow-x: scroll;
    }
    &:after {
      @include w767 {
        content: '';
        flex: 0 0 16px;
      }
    }
  }
  &__category {
    flex: 0 0 120px;
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
  &-category {
    &__link {
      &:hover,
      &:focus {
        .catalog-category__picture {
          box-shadow: 0px 2px 12px #e9eaec;
        }
        .catalog-category__img {
          transform: scale(1.13);
        }
      }
    }
    &__picture {
      display: block;
      width: 100%;
      height: 120px;
      margin-bottom: 9px;
      background: #ffffff;
      border: 1px solid $neutral-color-9;
      border-radius: 8px;
      overflow: hidden;
      transition: 0.3s;
    }
    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.7s;
    }
    &__title {
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
    }
  }
  &__filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 32px;
    @include w1023 {
      padding-bottom: 24px;
    }
    @include w767 {
      position: relative;
      padding-bottom: 72px;
    }
  }
  &__tags {
    display: flex;
    align-items: center;
    padding: 0;
    list-style: none;
  }
  &-tags {
    &__item {
      &:not(:first-child) {
        @include w1200 {
          display: none;
        }
      }
      &:not(:last-child) {
        margin-right: 16.4px;
      }
      input {
        display: none;
        &:checked + .catalog-tags__btn {
          background-color: $tertiary-background-color;
          color: $tertiary-color;
        }
      }
    }
    &__btn {
      display: block;
      padding: 8px 16px;
      background: $neutral-color-10;
      border-radius: 8px;
      line-height: 24px;
      color: $neutral-color-5;
      cursor: pointer;
      transition: 0.2s;
      &:hover,
      &:focus,
      &--active {
        background-color: $tertiary-background-color;
        color: $tertiary-color;
      }
      &--active {
        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
    &__all {
      display: none;
      align-items: center;
      @include w1200 {
        display: flex;
      }
      &:hover,
      &:focus {
        color: $primary-shade-color;
      }
      svg {
        margin-right: 8px;
      }
    }
  }
  &__sort {
    display: flex;
    align-items: center;
  }
  &-sort {
    &__num {
      margin-right: 33px;
      line-height: 24px;
      color: $neutral-color-5;
      @include w1023 {
        margin-right: 37px;
      }
      @include w767 {
        position: absolute;
        bottom: 24px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
      }
    }
    &__select {
      position: relative;
      @include w767 {
        font-size: 14px;
      }
    }
    &__current {
      display: flex;
      align-items: center;
      padding: 7px 22px 7px 15px;
      cursor: pointer;
      background: #ffffff;
      border: 1px solid $neutral-color-9;
      border-radius: 8px;
      line-height: 24px;
      transition: 0.2s;
      @include w360 {
        padding: 7px 10px;
        font-size: 14px;
      }
      &:hover,
      &:focus {
        box-shadow: 0px 2px 12px #e9eaec;
      }
      &:after {
        content: '';
        width: 10px;
        height: 10px;
        margin-left: 34px;
        border-left: 2px solid #222;
        border-bottom: 2px solid #222;
        transform: translateY(-2px) rotate(-45deg);
        transition: 0.2s;
        @include w767 {
          margin-left: 26px;
        }
      }
      &.active {
        &:after {
          transform: translateY(3px) rotate(-45deg) scale(-1, -1);
        }
      }
    }
    &__list {
      position: absolute;
      z-index: 2;
      top: calc(100% + 2px);
      display: none;
      width: 100%;
      padding: 0;
      list-style: none;
      background: #ffffff;
      border: 1px solid $neutral-color-9;
      box-shadow: 0px 2px 12px #e9eaec;
      border-radius: 8px;
      &.active {
        display: block;
      }
    }
    &__item {
      button {
        width: 100%;
        padding: 8px 16px;
        background: none;
        border: none;
        cursor: pointer;
        line-height: 24px;
        text-align: left;
        &:hover,
        &:focus {
          background: $neutral-color-10;
        }
      }
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 59px 24px;
    padding: 0;
    list-style: none;
    @include w1023 {
      grid-gap: 25px 16px;
    }
    @include w767 {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 115px;
    padding: 0;
    list-style: none;
    @include w1023 {
      margin-top: 81px;
    }
    @include w767 {
      margin-top: 65px;
    }
  }
  &-pagination {
    &__item {
      &:not(:last-child) {
        margin-right: 12px;
        @include w360 {
          margin-right: 16px;
        }
      }
      @include w360 {
        &:first-child .catalog-pagination__link--arr {
          background: url('../images/arrow-left-grey-big.svg') center/20px no-repeat;
        }
        &:last-child .catalog-pagination__link--arr {
          background: url('../images/arrow-right-grey-big.svg') center/20px no-repeat;
        }
      }
    }
    &__link {
      line-height: 24px;
      border-radius: 4px;
      background: #ffffff;
      transition: 0.2s;
      &:hover,
      &:focus {
        box-shadow: 0px 6px 20px #e9ebec;
        &:not(a):not(.catalog-pagination__link--active) {
          box-shadow: none;
        }
      }
      &:not(.catalog-pagination__link--arr) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        @include w767 {
          width: 31px;
          height: 31px;
        }
      }

      &--arr {
        display: flex;
        align-items: center;
        height: 32px;
        padding: 4px;
        @include w360 {
          width: 31px;
          height: 31px;
          padding: 0;
          font-size: 0;
        }
      }
      &--active {
        box-shadow: 0px 6px 20px #e9ebec;
      }
    }
  }
}
