.contacts {
  &__container {
    display: grid;
    grid-template-columns: 57.6% 1fr;
    grid-gap: 136px;
    @include w1366 {
      grid-template-columns: 63% 1fr;
      grid-gap: 48px;
    }
    @include w1200 {
      position: relative;
      display: flex;
      flex-direction: column-reverse;
      grid-gap: 0;
      padding-top: 72px;
    }
  }
  &__content {
    .h1title {
      @include w1200 {
        position: absolute;
        top: 0;
      }
    }
  }
  &__row {
    display: grid;
    grid-template-columns: 24.1% 28.5% 1fr;
    grid-gap: 80px;
    margin-bottom: 40px;
    padding: 0;
    list-style: none;
    @include w1200 {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 0;
    }
    @include w767 {
      display: block;
    }
  }
  &__col {
    &:not(:last-child) {
      @include w767 {
        margin-bottom: 28px;
      }
    }
  }
  &__title {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    @include w767 {
      margin-bottom: 8px;
    }
  }
  &__text {
    margin: 0;
    span {
      color: $primary-color;
    }
  }
  &__map {
    height: 360px;
    margin-bottom: 24px;
  }
  &__addresses {
    display: grid;
    grid-template-columns: 41.1% auto;
    grid-gap: 24px;
    padding: 0;
    list-style: none;
    @include w1200 {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0;
    }
    @include w767 {
      display: block;
    }
  }
  &__aside {
    padding-top: 17px;
    @include w1200 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
      padding-top: 0;
    }
    @include w767 {
      position: relative;
    }
  }
  &__socials {
    display: flex;
    padding: 0;
    list-style: none;
    @include w767 {
      position: absolute;
      display: block;
      top: calc(100% + 32px);
      right: 0;
    }
  }
  &__social {
    margin-top: 47px;
    margin-bottom: 64px;
    @include w1200 {
      margin-top: 0;
      margin-bottom: 0;
    }
    &:not(:last-child) {
      margin-right: 24px;
      @include w1200 {
        margin-right: 16px;
      }
      @include w767 {
        margin-right: 0;
        margin-bottom: 16px;
      }
    }
    a {
      display: flex;
      &:hover,
      &:focus {
        animation: pulse 0.4s;
      }
    }
    svg {
      @include w767 {
        width: 32px;
        height: 32px;
      }
    }
  }
  &__details {
    padding: 24px;
    box-shadow: 0px 2px 12px #e9eaec;
    border-radius: 8px;
    background-color: #fff;
    @include w1200 {
      position: absolute;
      top: calc(100% + 3px);
      right: 0;
      display: none;
      width: 328px;
      max-width: calc(100vw - 32px);
    }
    &.active {
      display: block;
    }
  }
  &-details {
    &__wrap {
      @include w1200 {
        position: absolute;
        top: 3px;
        right: 24px;
      }
      @include w1023 {
        top: 5px;
        right: 16px;
      }
      @include w767 {
        top: auto;
        bottom: calc(100% + 32px);
        right: 0;
      }
    }
    &__show {
      display: none;
      padding: 9px 16px;
      background: #ffffff;
      box-shadow: 0px 2px 12px #e9eaec;
      border-radius: 8px;
      border: 2px solid transparent;
      @include w1200 {
        display: block;
      }
      &:hover,
      &:focus {
        border: 2px solid $neutral-color-9;
      }
    }
    &__list {
      margin-top: 15px;
      padding-top: 16px;
      padding-left: 0;
      border-top: 1px solid $neutral-color-9;
      list-style: none;
    }
    &__item {
      display: grid;
      grid-template-columns: 29.2% 1fr;
      grid-gap: 24px;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
      span {
        &:first-child {
          color: $neutral-color-5;
        }
      }
    }
  }
}
