.good {
  &__row {
    display: flex;
    align-items: center;
    &:first-child {
      @include w767 {
        flex-direction: column-reverse;
        align-items: flex-start;
      }
    }
  }
  &__tags {
    display: flex;
    padding: 0;
    list-style: none;
  }
  &-tags {
    &__item {
      margin-right: 17px;
      padding: 4px 8px;
      font-size: 12px;
      line-height: 16px;
      border-radius: 4px;
      @include w767 {
        margin-right: 8px;
        padding: 0px 4px;
        font-size: 10px;
        line-height: 16px;
      }
      &--best {
        color: $accent-indigo-color;
        background: $secondary-background-color;
      }
      &--spec {
        color: $accent-sea-color;
        background: #e6f6f8;
      }
    }
  }
  &__id {
    font-size: 12px;
    line-height: 16px;
    color: $neutral-color-4;
    @include w767 {
      margin-bottom: 8px;
    }
  }
  &__title {
    margin-top: 9px;
    margin-bottom: 6px;
    font-weight: normal;
    font-size: 39px;
    line-height: 48px;
    @include w1023 {
      margin-top: 8px;
      margin-bottom: 7px;
      font-size: 25px;
      line-height: 32px;
    }
  }
  &__rate {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 16px;
    color: $primary-color;
    margin-right: 24px;
    svg {
      margin-right: 8px;
      @include w767 {
        width: 76px;
      }
    }
  }
  &__fav {
    display: flex;
    align-items: center;
    padding: 0;
    background: none;
    border: none;
    font-size: 12px;
    line-height: 16px;
    color: $primary-color;
    cursor: pointer;
    &:hover,
    &:focus {
      svg {
        animation: pulse 0.4s;
      }
    }
    &--active {
      path {
        fill: $primary-tint-color;
      }
    }
    svg {
      margin-right: 8px;
      @include w767 {
        width: 12px;
        height: 12px;
      }
    }
  }
  &__main {
    display: grid;
    grid-template-columns: calc(67% - 28px) calc(33% - 28px);
    grid-gap: 56px;
    margin-top: 40px;
    @include w1200 {
      grid-template-columns: calc(64% - 16px) calc(36% - 16px);
      grid-gap: 32px;
    }
    @include w1023 {
      display: flex;
      flex-direction: column-reverse;
      position: relative;
      padding-top: 608px;
    }
    @include w767 {
      padding-top: 352px;
    }
  }
  &-content {
    &__wrap {
      position: relative;
      .swiper-button-prev,
      .swiper-button-next {
        top: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        background: #ffffff;
        border: 1px solid #f7f7f7;
        border-radius: 850%;
        margin-top: 0;
        transform: translateY(-50%);
        @include w1023 {
          display: none;
        }
        &:hover,
        &:focus {
          box-shadow: 0px 2px 12px #e9eaec;
          path {
            fill: $tertiary-shade-color;
          }
        }
        &:after,
        &.swiper-button-disabled {
          display: none;
        }
      }
      .swiper-button-prev {
        left: -16px;
      }
      .swiper-button-next {
        right: -16px;
      }
    }
    &__gallery {
      @include w1023 {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
      }
    }
    &__slider {
      margin-bottom: 24px;
      @include w767 {
        display: none;
      }
    }
    &-slider {
      &__wrapper {
        padding: 0;
        list-style: none;
      }
      &__slide {
        height: 496px;
        @include w1023 {
          height: 424px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 8px;
        }
      }
    }
    &__thumbs {
      .swiper-pagination {
        display: none;
        @include w767 {
          display: block;
          .swiper-pagination-bullet {
            width: 6px;
            height: 6px;
            opacity: 1;
            background: #fff;
          }
          .swiper-pagination-bullet-active {
            background: $tertiary-color;
          }
          .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
            margin: 0 3px;
          }
        }
      }
      @include w1023 {
        width: calc(100% + 32px);
        padding-left: 16px;
        transform: translateX(-16px);
      }
    }
    &-thumbs {
      &__wrapper {
        padding: 0;
        list-style: none;
      }
      &__slide {
        width: 160px;
        height: 160px;
        @include w1023 {
          width: 120px;
          height: 120px;
        }
        @include w767 {
          width: 312px;
          height: 312px;
        }
        &.swiper-slide-thumb-active {
          img {
            border-color: $tertiary-tint-color !important;
            @include w767 {
              box-shadow: none !important;
              border-color: $neutral-color-9 !important;
            }
          }
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border: 1px solid $neutral-color-9;
          border-radius: 8px;
          transition: 0.2s;
          &:hover,
          &:focus {
            box-shadow: 0px 2px 12px #e9eaec;
          }
        }
      }
    }
    &__tabs {
      margin-top: 39px;
      padding-top: 39px;
      border-top: 1px solid $neutral-color-9;
      @include w1023 {
        margin-top: 16px;
        padding-top: 23px;
      }
      @include w767 {
        padding-top: 0;
      }
    }
    &__navigation {
      display: flex;
      align-items: center;
      margin-bottom: 24px;
      padding: 0;
      list-style: none;
      @include w1023 {
        transform: translateX(-16px);
        width: calc(100% + 32px);
        padding-left: 16px;
        overflow-x: scroll;
      }
      @include w767 {
        position: sticky;
        top: 65px;
        margin-bottom: 0;
        padding-top: 16px;
        padding-bottom: 16px;
        background-color: #fff;
      }
      &:after {
        @include w1023 {
          content: '';
          flex: 0 0 16px;
          height: 1px;
        }
      }
    }
    &-navigation {
      &__item {
        &:not(:last-child) {
          margin-right: 16px;
        }
      }
      &__btn {
        padding: 8px 16px;
        background: $neutral-color-10;
        border: none;
        border-radius: 8px;
        line-height: 24px;
        color: $neutral-color-5;
        white-space: nowrap;
        cursor: pointer;
        &:hover,
        &:focus,
        &.tabs__btn--active {
          background: $tertiary-background-color;
          color: $tertiary-color;
        }
      }
    }
    &__tab {
      display: none;
      max-width: 760px;
      &.tabs__container--active {
        display: block;
      }
      p {
        margin: 0;
        font-size: 20px;
        line-height: 32px;
        @include w1200 {
          font-size: 16px;
          line-height: 24px;
        }
        @include w1023 {
          font-size: 20px;
          line-height: 32px;
        }
        @include w767 {
          font-size: 16px;
          line-height: 24px;
        }
        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }
    }
    &-tab {
      &__row {
        display: grid;
        grid-template-columns: calc(41% - 12px) calc(59% - 12px);
        grid-gap: 24px;
        @include w1023 {
          grid-template-columns: calc(32.4% - 12px) calc(67.6% - 12px);
        }
        @include w767 {
          display: block;
        }
      }
      &__subrow {
        display: flex;
        &:not(:last-child) {
          margin-bottom: 16px;
          @include w1023 {
            margin-bottom: 8px;
          }
        }
      }
      &__col {
        padding: 0;
        list-style: none;
        &:first-child {
          @include w767 {
            margin-bottom: 40px;
          }
          .good-content-tab__name {
            flex: 0 0 115px;
            @include w1023 {
              flex: 0 0 99px;
            }
            @include w767 {
              flex: 0 0 50%;
            }
          }
        }
        &:last-child {
          .good-content-tab__name {
            flex: 0 0 167px;
            @include w1023 {
              flex: 0 0 151px;
            }
            @include w767 {
              flex: 0 0 50%;
            }
          }
        }
      }
      &__title {
        margin-top: 0;
        margin-bottom: 15px;
        font-weight: normal;
        font-size: 25px;
        line-height: 32px;
        @include w1023 {
          margin-bottom: 16px;
          font-size: 20px;
          line-height: 24px;
        }
      }
      &__list {
        padding: 0;
        list-style: none;
      }
      &__name {
        line-height: 24px;
        color: $neutral-color-5;
      }
      &__value {
        font-weight: 500;
        line-height: 24px;
        color: $neutral-color-3;
        &:not(:not(label)) {
          color: $secondary-color;
          cursor: pointer;
        }
        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }
  }
  &-aside {
    padding-top: 2px;
    &__content {
      position: sticky;
      top: 150px;
    }
    &__price {
      margin-right: 5px;
      font-size: 25px;
      line-height: 32px;
      @include w767 {
        font-size: 20px;
        line-height: 24px;
      }
      &--newprice {
        color: $system-error-color;
      }
    }
    &__oldprice {
      color: $neutral-color-6;
      text-decoration: line-through;
      @include w767 {
        font-size: 12px;
        line-height: 16px;
      }
    }
    &__size {
      display: block;
      margin-top: 23px;
      margin-bottom: 24px;
      @include w1023 {
        margin-top: 16px;
        margin-bottom: 16px;
      }
      input {
        background: $neutral-color-10;
        cursor: pointer;
        @include w1023 {
          height: 48px;
          font-size: 16px;
        }
      }
      .form-select__show:after {
        transform: translateY(0px) rotate(225deg);
      }
      .good-aside__show {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        cursor: pointer;
        &:hover,
        &:focus {
          .form-select__show {
            animation: pulse 0.4s;
          }
        }
      }
    }
    &__row {
      display: flex;
      align-items: center;
      margin-bottom: 72px;
      @include w1023 {
        margin-bottom: 48px;
      }
    }
    &__num {
      display: flex;
      align-items: center;
      margin-right: 24px;
    }
    &-num {
      &__btn {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background: #ffffff;
        box-shadow: 0px 6px 20px #e9ebec;
        border-radius: 4px;
        cursor: pointer;
        &[disabled] {
          border: 1px solid $neutral-color-9;
          box-shadow: none;
          color: $neutral-color-7;
          cursor: default;
        }
        &:hover,
        &:focus {
          border: 1px solid $neutral-color-9;
        }
      }
      &__input {
        width: 40px;
        height: 32px;
        margin: 0 8px;
        border: none;
        background: none;
        text-align: center;
      }
    }
    &__buy {
      flex: 1;
      padding: 15px 0;
      cursor: pointer;
      @include w767 {
        padding: 11px 0;
      }
    }
    &__info {
      &:not(:last-child) {
        margin-bottom: 23px;
        padding-bottom: 24px;
        border-bottom: 1px solid $neutral-color-9;
        @include w767 {
          margin-bottom: 20px;
          padding-bottom: 20px;
        }
      }
      label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        &:after {
          content: '';
          width: 10px;
          height: 10px;
          margin-right: 8px;
          border-left: 2px solid #222;
          border-bottom: 2px solid #222;
          transform: rotate(225deg);
        }
      }
    }
  }
}
