$text-color: #222;

$primary-color: #C56532;

$secondary-color: #3249C5;

$neutral-color-2: #3B3B3B;
$neutral-color-3: #515151;
$neutral-color-5: #7E7E7E;
$neutral-color-6: #9E9E9E;
$neutral-color-10: #F7F7F7;

$accent-violet-color: #A964D8;
$accent-navy-color: #0C76B7;
$accent-indigo-color: #5468D4;
$accent-sea-color: #32B7C5;
$accent-lime-color: #32C58A;

$system-success-color: #51CB9C;
$system-warning-color: #FDDA5C;
$system-error-color: #D64545;