$text-color: #222;

$primary-color: #c56532;
$primary-shade-color: #a94a24;
$primary-tint-color: #dc9360;
$primary-background-color: #ebe8e1;

$secondary-color: #3249c5;
$secondary-shade-color: #2437a9;

$tertiary-color: #00996e;
$tertiary-tint-color: #30c18a;
$tertiary-shade-color: #00836b;

$neutral-color-2: #3b3b3b;
$neutral-color-3: #515151;
$neutral-color-5: #7e7e7e;
$neutral-color-6: #9e9e9e;
$neutral-color-7: #b1b1b1;
$neutral-color-8: #cfcfcf;
$neutral-color-9: #e1e1e1;
$neutral-color-10: #f7f7f7;

$accent-violet-color: #a964d8;
$accent-navy-color: #0c76b7;
$accent-indigo-color: #5468d4;
$accent-sea-color: #32b7c5;
$accent-lime-color: #32c58a;

$system-success-color: #51cb9c;
$system-warning-color: #fdda5c;
$system-error-color: #d64545;
